<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin - <%= pageTitle %></title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 font-sans">
    <%- include('include/ad-navbar.ejs') %>

    <div class="container mx-auto p-6 bg-white mt-6 rounded-lg shadow-lg">
        <div class="flex flex-wrap">
            <div class="w-2/5  lg:w-7/10 p-4 ">
                <div class="bg-white rounded-lg shadow-lg p-4 ">
                    <canvas id="myPieChart"></canvas>
                </div>
            </div>
            <div class="  ">
                <div class="p-4 bg-white shadow-lg">
                <h1>จำนวนเมืองที่กรอกเสร็จแล้ว</h1>
                <br/>
                <p>กรอกเสร็จแล้ว : 5 เมือง </p>
                <p>กรอกยังไม่เสร็จ : 10 เมือง </p>
                </div>
            </div>
            <div class="w-2/6 lg:w-3/10 mx-3 flex items-center justify-center">
                <div class="overflow-y-scroll h-max bg-gray-100 p-4 rounded-lg shadow-lg w-full">
                    <% date.forEach(function(item) { %>
                        <div class="bg-white p-4 rounded-lg shadow-lg mb-4">
                            <p class="font-semibold">วันประกาศเมืองอัจฉริยะ: <%= new Date(item.Date).toLocaleDateString('th-TH', {
                                year: 'numeric', month: 'long', day: 'numeric'
                            }) %></p>
                        
                            <p class="font-semibold">เปิดฟอร์ม: <%= new Date(item.open).toLocaleDateString('th-TH', {
                                year: 'numeric', month: 'long', day: 'numeric'
                            }) %></p>
                            
                            <p class="font-semibold">ปิดฟอร์ม: <%= new Date(item.close).toLocaleDateString('th-TH', {
                                year: 'numeric', month: 'long', day: 'numeric'
                            }) %></p>
                            
                            <p class="font-semibold">รอบที่เปิด: <%= item.round %></p>
                            
                        </div>
                    <% }) %>
                </div>
            </div>
            
        </div>

        <div class="mt-6">
            <div class="overflow-y-scroll h-dvh bg-gray-100 p-4 rounded-lg shadow-lg">
                <% city.forEach(function(item) { %>
                    <div class="flex bg-white p-4 rounded-lg shadow-lg mb-4">
                        <div class="w-1/2">
                            <div class="flex"><p class="font-semibold">รหัสเมือง: </p>
                                <p> <%=item.cityID%></p></div>
                        
                            <div class="flex"><p class="font-semibold">จังหวัด: </p>
                                <p> <%=item.province%></p></div>
                            
                            <div class="flex"><p class="font-semibold">ชื่อเมือง: </p>
                                <p><%=item.cityName%></p></div>
                            
                            <div class="flex"><p class="font-semibold">วันประกาศเมืองอัจฉริยะ: </p>
                                <p><%= new Date(item.date).toLocaleDateString('th-TH', {
                                year: 'numeric', month: 'long', day: 'numeric'
                            }) %></p></div>
                            
                        </div>
                        <div class="w-1/2 flex justify-around items-center">
                            <div class="text-center mx-2">
                                <p class="font-semibold">ส่งแล้ว</p>
                                <p>53</p>
                            </div>
                            <div class="text-center mx-2">
                                <p class="font-semibold">แบบร่าง</p>
                                <p>24</p>
                            </div>
                            <div class="text-center mx-2">
                                <p class="font-semibold">ยังไม่ส่ง</p>
                                <p>9</p>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>

    <%- include('include/ad-footer.ejs') %>

    <script>
        const ctx = document.getElementById('myPieChart').getContext('2d');
        const myPieChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['ยังไม่กรอก', 'ฉบับร่าง', 'ส่งแล้ว'],
                datasets: [{
                    label: 'สถานะโดยรวม',
                    data: [300, 50, 100],
                    backgroundColor: ['#D04848', '#FDE767', '#00f0d8']
                }]
            },
            options: {
                plugins: {
                    datalabels: {
                        formatter: (value, context) => `${value}%`,
                        color: '#fff',
                        font: { weight: 'bold' }
                    }
                },
                legend: {
                    position: 'right',
                    align: 'center',
                    labels: {
                        boxWidth: 20,
                        padding: 15
                    }
                }
            }
        });
    </script>
    
    

</body>

</html>
