<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <title>form</title>
    <link rel="icon" type="image/x-icon" href="../tracktag/img/favi.png">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .head {
            text-align: center;
            margin-top: 50px;
        }

        .custom-container,
        .custom-container-1 {
            display: flex;
            justify-content: space-between;
            width: 70%;
            margin: 0 auto;
            padding: 20px;
            border-radius: 50px;
            margin-top: 50px;
            margin-bottom: 50px;
            background-color: #FFF0C4;
        }

        .custom-container-1>div {
            width: 48%;
            padding: 10px;
            box-sizing: border-box;
            margin-bottom: 20px;
        }

        .left-content,
        .right-content {
            width: 50%;
            padding: 10px;
            box-sizing: border-box;
            margin-left: 50px;
        }

        form {
            width: 100%;
            padding: 20px;
            box-sizing: border-box;
        }

        form div {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-top: 20px;
            width: 100%;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }

        select,
        textarea,
        input {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            margin-bottom: 15px;
            box-sizing: border-box;
            border: 2px solid #C2AF76;
            border-radius: 4px;
            resize: vertical;
            border-radius: 15px;
            background-color: #fffbf0;
        }

        input {
            width: 50%;
            position: relative;
            left: 75%;
            transform: translateX(-50%);
        }

        button {
            background-color: #C2AF76;
            color: white;
            padding: 10px 15px;
            border: 2px solid #C2AF76;
            border-radius: 50px;
            margin-top: 20px;
        }

        button:last-child {
            margin-left: 0;
        }

        button:hover {
            background-color: #C2AF76;
            border-radius: 50px;
        }

        #fileUpload {
            display: none;
        }

        .button-container {
            text-align: right;
            margin-top: 20px;
            /* Adjust margin as needed */

        }

        /* Style for the buttons */
        .button-container button {
            margin-left: 10px;
            /* Adjust margin between buttons */
        }

        .left-content p {
            margin-bottom: 20px;

            .custom-container .left-content p {
                display: inline;
                margin: 0;
                /* ลบ margin ที่ถูกกำหนดเอาไว้ */
            }
        }
        .highlight {
        color: #ff0000; /* Dark gray color */
    }
    .right-content-text{
        margin-bottom: 50px;
    }
    </style>

</head>

<body>

    <%- include('component/navbar.ejs') %>

        <div class="head">
            <h5>
                <%= data.cityName %>
            </h5>
        </div>

        <div class="head">
            <h6>
                <%= data.solutionName %>
            </h6>
        </div>

        <div class="custom-container">
            <div class="left-content">
                <!-- เนื้อหาฝั่งซ้าย -->
                <p>ชื่อโครงการ :
                <span class="highlight">
                        <%= data.solutionName %>
                    </span></p>

                <p>รหัสโครงการ : <span class="highlight">
                        <%= data.solutionID %>
                    </span></p>

                <p>Smart : <span class="highlight">
                        <%= data.smartKey %>
                    </span></p>

                <p>แหล่งเงินทุน : <span class="highlight">
                        <%= data.Source_funds %>
                    </span></p>

                <p>เงินทุน (บาท) : <span class="highlight">
                        <%= data.funds %>
                    </span>ล้าน บาท</p>

                <br>
                <br>

                <% 
                const keysQ = Object.keys(dataCheck).filter(key => key.startsWith('Q'));
                const keysA = Object.keys(dataCheck).filter(key => key.startsWith('A'));

                for (let i = 0; i < Math.max(keysQ.length, keysA.length); i++) {
                    const keyQ = keysQ[i];
                    const keyA = keysA[i];
                %>
                <p>
                    <% if (keyQ) { %>
                    <%= dataCheck[keyQ] %>
                    <% } %>
                    :
                    <% if (keyA) { %>
                    <span class="highlight"><%= dataCheck[keyA] %></span>
                    <% } %>
                    </p>
                <% } %>
                <div class="button-container">
                    <button type="submit" id="confirmBtn">ยืนยัน</button>
                    <button type="button" id="editBtn">แก้ไข</button>
                </div>

            </div>
            <div class="right-content">
                <!-- เนื้อหาฝั่งขวา --->
                <p class="right-content-text">ตัวชี้วัด ที่ได้รับอนุมติ </p>
                
                <% Object.keys(dataCheck).forEach(function(key) { %>
                    <% dataKpi.forEach(function(item) { %>
                      <% if (item.kpiID === key ) { %>
                        <p><%= item.kpiName %> :</p> <p class="highlight">คำตอบ <%= dataCheck[key] %></p>
                      <% } %>
                    <% }); %>
                  <% }); %>                  
                  
            </div>

        </div>


        <script>
            const cancelBtn = document.getElementById('editBtn');
            const confirmBtn = document.getElementById('confirmBtn');
            const currentDateTime = new Date().toLocaleString('th-TH', {
                    timeZone: 'Asia/Bangkok',
                    hour12: false,
                });

            function goBack() {
                window.location.href = "/city/follow"
            }

            // send data to backend
            confirmBtn.addEventListener('click', async () => {
                Swal.fire({
                    title: 'คุณแน่ใจไหม?',
                    text: 'เมื่อส่งรายงานแล้ว คุณจะไม่สามารถยกเลิกการดำเนินการหรือเเก้ไขได้!',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'ยืนยัน',
                    cancelButtonText: 'ยกเลิก',
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                }).then(async (result) => {
                    if (result.isConfirmed) {
                        try {
                            // Get the value of data.Q1 (assuming it's a string)
                            const dataCheckString = '<%- JSON.stringify(dataCheck) %>';
                            const dataChecks = JSON.parse(dataCheckString);
                            const csrfToken = '<%= csrfToken %>';                          
            
                            // Make a POST request to the /formcheck endpoint with data.Q1
                            const response = await fetch('/comfirmformcheck/<%= data.solutionID %>/<%=round%>', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                    'X-CSRF-TOKEN': csrfToken
                                },
                                body: JSON.stringify({
                                    dataChecks:dataChecks,
                                    currentDateTime: currentDateTime
                                })
                            });
                            if (response.ok) {
                                Swal.fire({
                                    title: 'ส่งรายงานสำเร็จ!',
                                    text: 'ส่งรายงานข้อมูลสำเร็จเรียบร้อยเเล้ว',
                                    icon: 'success',
                                    confirmButtonText: 'OK'
                                }).then(() => {
                                    window.location.href = '/city/follow';
                                });
                                console.log('Data sent successfully!');
                            } else {
                                console.error('Failed to send data.');
                            }
                        } catch (error) {
                            console.error('Error:', error);
                        }
                    }
                });
            });


            cancelBtn.addEventListener('click', async () => {
                try {
                    const dataCheckString = '<%- JSON.stringify(dataCheck) %>';
                    const dataChecks = JSON.parse(dataCheckString);
                    const csrfToken = '<%= csrfToken %>';
                    const response = await fetch('/saveEdit/<%= data.solutionID %>/<%=dataCheck.round%>', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRF-TOKEN': csrfToken
                        },
                        body: JSON.stringify({
                            dataChecks: dataChecks,
                            currentDateTime: currentDateTime
                        })
                    });

                    if (response.ok) {
                        // Redirect to the specified URL
                        window.location.href = `/formsmart/<%= data.solutionID %>/<%=dataCheck.round%>`;
                    } else {
                        console.error('Error:', response.status);
                    }
                } catch (error) {
                    console.error('Error:', error);
                }
        });
            
        </script>

        <%- include('component/footer.ejs') %>

</body>

</html>