<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>form</title>
    <link rel="icon" type="image/x-icon" href="../tracktag/img/favi.png">
    <style>
        .back {
            margin: 30px 0px 0px 30px;
            color: #000000;
            /* ตั้งค่าสีข้อความในลิงก์เป็นสีขาว */
            background-color: #FFF0C4;
            border-radius: 20px;
            width: 100px;
            height: 40px;
            text-align: center;
        }


        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .head {
            text-align: center;
            margin-top: 50px;
        }

        .custom-container,
        .custom-container-1 {
            display: flex;
            justify-content: space-between;
            width: 70%;
            margin: 0 auto;
            padding: 20px;
            border-radius: 50px;
            margin-top: 50px;
            margin-bottom: 50px;
            background-color: #FFF0C4;
        }

        .custom-container-1>div {
            width: 48%;
            padding: 10px;
            box-sizing: border-box;
            margin-bottom: 20px;
        }

        .left-content,
        .right-content {
            width: 50%;
            padding: 10px;
            box-sizing: border-box;
            margin-left: 50px;
        }

        form {
            width: 100%;
            padding: 20px;
            box-sizing: border-box;
        }

        form div {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-top: 20px;
            width: 100%;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }

        select,
        textarea,
        input {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            margin-bottom: 15px;
            box-sizing: border-box;
            border: 2px solid #C2AF76;
            border-radius: 4px;
            resize: vertical;
            border-radius: 15px;
            background-color: #fffbf0;
        }

        input {
            width: 50%;
            position: relative;
            left: 75%;
            transform: translateX(-50%);
        }

        button {
            background-color: #C2AF76;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 50px;
            margin-top: 20px;
        }

        button:hover {
            background-color: #C2AF76;
            border-radius: 50px;
        }

        #fileUpload {
            display: none;
        }

        .right-content ul {
            list-style-type: none;
            /* ลบเครื่องหมายหน้ารายการออก */
            padding: 0;
            margin: 0;
        }

        .right-content li {
            border-bottom: 1px solid #ccc;
            /* เพิ่มเส้นแบ่งระหว่างรายการ */
            padding: 8px;
            /* เพิ่มพื้นที่รอบรายการ */
            margin-bottom: 5px;
            /* เพิ่มระยะห่างระหว่างรายการ */
        }

        .left-content {
            padding: 10px;
            /* เพิ่มพื้นที่รอบข้อมูล */
            margin: 10px 0;
            /* เพิ่มระยะห่างด้านบนและล่าง */
        }

        .left-content p {
            margin: 5px 0;
            /* ตั้งค่าระยะห่างระหว่างประโยค */
            padding-left: 20px;
            /* เพิ่มพื้นที่ด้านซ้าย */
        }

        .left-content p.header {
            font-weight: bold;
            /* เพิ่มความหนาของตัวอักษรสำหรับหัวข้อ */
            padding-left: 10px;
            /* ปรับตำแหน่งของหัวข้อ */
            color: #444;
            /* เปลี่ยนสีตัวอักษร */
        }

        /* เพิ่มสไตล์สำหรับ input ที่ถูก disabled */
        #submitButton:disabled {
            background-color: #ccc;
            cursor: not-allowed;
        }
    </style>
</head>

<body>

    <%- include('component/navbar.ejs') %>
        <script>
            function goBack() {
                window.history.back();
            }
        </script>
        <div>
            <button class="back" onclick="goBack()">ย้อนกลับ</button>
        </div>

        <div class="head">
            <% if (formdata && formdata.length> 0 && formdata[0].cityName) { %>
                <h5>
                    <%= formdata[0].cityName %>
                </h5>
                <% } else { %>
                    <h5>ไม่พบข้อมูลเมือง</h5>
                    <% } %>
        </div>


        <div class="head">
            <% if (formdata && formdata.length> 0 && formdata[0].solutionName) { %>
                <h6>ชื่อโครงการ: <%= formdata[0].solutionName %>
                </h6>
                <% } else { %>
                    <h6>ชื่อโครงการ: N/A </h6>
                    <% } %>
        </div>


        <div class="custom-container">
            <div class="left-content">
                <p class="header">รายละเอียดโครงการ:</p>
                <p><strong>ชื่อโครงการ:</strong>
                    <% if (!formdata || formdata.length===0) { %>
                        <p>ไม่พบข้อมูล</p>
                        <% } else { %>
                            <%= formdata[0].solutionName %>
                                <% } %>
                </p>
                <p><strong>รหัสโครงการ:</strong>
                    <% if (!formdata || formdata.length===0) { %>
                        <p>ไม่พบข้อมูล</p>
                        <% } else { %>
                            <%= formdata[0].solutionID %>
                                <% } %>
                </p>
                <p><strong>Smart:</strong>
                    <% if (!formdata || formdata.length===0) { %>
                        <p>ไม่พบข้อมูล</p>
                        <% } else { %>
                            <%= formdata[0].smart %>
                                <% } %>
                </p>
                <p><strong>แหล่งเงินทุน:</strong>
                    <% if (!formdata || formdata.length===0) { %>
                        <p>ไม่พบข้อมูล</p>
                        <% } %>
                </p>
                <p><strong>เงินทุน (บาท):</strong>
                    <% if (!formdata || formdata.length===0) { %>
                        <p>ไม่พบข้อมูล</p>
                        <% } else { %>
                            <%= formdata[0].funds %> บาท
                                <% } %>
                </p>
            </div>

            <div class="right-content">
                <p><strong>CDP :</strong></p>
                <ul>
                    <% if (formdata && formdata.length> 0) { %>
                        <% formdata.forEach((item)=> { %>
                            <li> - <%= item.kpiName %>
                            </li>
                            <% }); %>
                                <% } else { %>
                                    <li>No data available</li>
                                    <% } %>
                </ul>
            </div>


        </div>

        <!-- <div class="custom-container-1">
        <form action="/sendformcdp/" method="post">
            <div>
                <label for="status">สถานะ :</label>
                <select id="status" name="status">
                    <option value="null">ระบุ สถานะโครงการ</option>
                    <option value="delayed">ล่าช้ากว่าแผน</option>
                    <option value="on_schedule">ตามแผน</option>
                    <option value="ahead_of_schedule">เร็วกว่าแผน</option>
                    <option value="not_started">ยังไม่ดำเนินโครงการ</option>
                </select>
            </div>

            <div>
                <label for="progress">ความก้าวหน้าโครงการ :</label>
                <select id="progress" name="progress">
                    <option value="null">ระบุ % ความก้าวหน้า</option>
                    <option value="0">0%</option>
                    <option value="5">5%</option>
                    <option value="10">10%</option>
                    <option value="15">15%</option>
                    <option value="20">20%</option>
                    <option value="25">25%</option>
                    <option value="30">30%</option>
                    <option value="35">35%</option>
                    <option value="40">40%</option>
                    <option value="45">45%</option>
                    <option value="50">50%</option>
                    <option value="55">55%</option>
                    <option value="60">60%</option>
                    <option value="65">65%</option>
                    <option value="70">70%</option>
                    <option value="75">75%</option>
                    <option value="80">80%</option>
                    <option value="85">85%</option>
                    <option value="90">90%</option>
                    <option value="95">95%</option>
                    <option value="100">100%</option>
                </select>
            </div>

            <div>
                <input type="file" id="fileUpload" name="fileUpload" accept=".pdf, .doc, .docx">
            </div>

            <div>
                <label for="operation">ผลการดำเนินงาน:</label>
                <textarea id="operation" name="operation" placeholder="กรอกข้อความ...."></textarea>
            </div>

            <div>
                <label for="problem_type">ประเภทปัญหา:</label>
                <select id="problem_type" name="problem_type">
                    <option value="null">ระบุ ประเภทปัญหา</option>
                    <option value="0">0%</option>
                    <option value="5">5%</option>
                    <option value="10">10%</option>
                </select>
            </div>

            <div>
                <label for="result">ผลลัพธ์:</label>
                <textarea id="result" name="result" placeholder="กรอกข้อความ...."></textarea>
            </div>

            <div>
                <label for="problem">ปัญหา/อุปสรรค:</label>
                <textarea id="problem" name="problem" placeholder="กรอกข้อความ...."></textarea>
            </div>

            <div>
                <label for="solution">แนวทางแก้ไข:</label>
                <textarea id="solution" name="solution" placeholder="กรอกข้อความ...."></textarea>
            </div>

            <div>
                <label for="note">หมายเหตุ:</label>
                <textarea id="note" name="note" placeholder="กรอกข้อความ...."></textarea>
            </div>

            <button type="button" id="recordButton">บันทึก</button>
            <button type="button" id="submitButton">ส่งรายงาน</button>
        </form>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var statusSelect = document.getElementById('status');
            var progressSelect = document.getElementById('progress');
            var fileUploadInput = document.getElementById('fileUpload');
            var submitButton = document.getElementById('submitButton');
            var form = document.querySelector('form');

            statusSelect.addEventListener('change', function() {
                toggleFileUpload();
                updateSubmitButtonState();
            });

            progressSelect.addEventListener('change', function() {
                toggleFileUpload();
                updateSubmitButtonState();
            });

            form.addEventListener('input', function() {
                updateSubmitButtonState();
            });

            submitButton.addEventListener('click', function() {
                form.submit();
            });

            function toggleFileUpload() {
                if (statusSelect.value === '100' || progressSelect.value === '100') {
                    fileUploadInput.style.display = 'block';
                } else {
                    fileUploadInput.style.display = 'none';
                }
            }

            function updateSubmitButtonState() {
                var isFormValid = Array.from(form.elements).every(function(element) {
                    if (
                        (element.tagName === 'INPUT' || element.tagName === 'SELECT' || element.tagName === 'TEXTAREA') &&
                        element.type !== 'file' &&
                        element.value.trim() !== ''
                    ) {
                        return true;
                    } else if (element.type === 'file') {
                        return true;
                    } else if (element.type === 'button') {
                        return true;
                    } else {
                        return false;
                    }
                });

                if (isFormValid) {
                    submitButton.style.backgroundColor = '#C2AF76';
                    submitButton.style.cursor = 'pointer';
                    submitButton.disabled = false;
                } else {
                    submitButton.style.backgroundColor = '#A9A9A9';
                    submitButton.style.cursor = 'not-allowed';
                    submitButton.disabled = true;
                }
            }

            window.addEventListener('load', function() {
                toggleFileUpload();
                updateSubmitButtonState();
            });

            form.addEventListener('input', function() {
                updateSubmitButtonState();
            });

            updateSubmitButtonState();
        });
    </script> -->
        <div class="custom-container-1">
            
            <form action="/sendformcdp/<%=formdata[0].solutionID%>" method="post" id="reportForm">
                <div>
                    <label for="status">สถานะ :</label>
                    <select id="status" name="status" required>
                        <option value="null" <% if (!dataOld.length || dataOld[0].Q1 === null) { %>selected<% } %>>ระบุ สถานะโครงการ</option>
                        <option value="delayed" <% if (dataOld.length && dataOld[0].Q1 === 'delayed') { %>selected<% } %>>ล่าช้ากว่าแผน</option>
                        <option value="on_schedule" <% if (dataOld.length && dataOld[0].Q1 === 'on_schedule') { %>selected<% } %>>ตามแผน</option>
                        <option value="ahead_of_schedule" <% if (dataOld.length && dataOld[0].Q1 === 'ahead_of_schedule') { %>selected<% } %>>เร็วกว่าแผน</option>
                        <option value="not_started" <% if (dataOld.length && dataOld[0].Q1 === 'not_started') { %>selected<% } %>>ยังไม่ดำเนินโครงการ</option>
                    </select>
                </div>
            
                <div>
                    <label for="progress">ความก้าวหน้าโครงการ :</label>
                    <select id="progress" name="progress">
                        <option value="null" <% if (!dataOld.length || dataOld[0].Q2 === null) { %>selected<% } %>>ระบุ % ความก้าวหน้า</option>
                        <option value="0" <% if (dataOld.length && dataOld[0].Q2 === 0) { %>selected<% } %>>0%</option>
                        <option value="5" <% if (dataOld.length && dataOld[0].Q2 === 5) { %>selected<% } %>>5%</option>
                        <option value="10" <% if (dataOld.length && dataOld[0].Q2 === 10) { %>selected<% } %>>10%</option>
                        <option value="20" <% if (dataOld.length && dataOld[0].Q2 === 20) { %>selected<% } %>>20%</option>
                        <!-- เพิ่มตัวเลือกอื่น ๆ ตามความเหมาะสม -->
                    </select>
                </div>
            
                <div>
                    <input type="file" id="fileUpload" name="fileUpload" accept=".pdf, .doc, .docx">
                </div>
            
                <div>
                    <label for="operation">ผลการดำเนินงาน:</label>
                    <textarea id="operation" name="operation" placeholder="กรอกข้อความ...."><% if (dataOld.length) { %><%= dataOld[0].Q4 %><% } %></textarea>
                </div>
            
                <div>
                    <label for="problem_type">ประเภทปัญหา:</label>
                    <select id="problem_type" name="problem_type">
                        <option value="null" <% if (!dataOld.length || dataOld[0].Q5 === null) { %>selected<% } %>>ระบุ ประเภทปัญหา</option>
                        <option value="technical" <% if (dataOld.length && dataOld[0].Q5 === 'technical') { %>selected<% } %>>เทคนิค</option>
                        <option value="financial" <% if (dataOld.length && dataOld[0].Q5 === 'financial') { %>selected<% } %>>การเงิน</option>
                        <option value="management" <% if (dataOld.length && dataOld[0].Q5 === 'management') { %>selected<% } %>>การจัดการ</option>
                    </select>
                </div>
            
                <div>
                    <label for="result">ผลลัพธ์:</label>
                    <textarea id="result" name="result" placeholder="กรอกข้อความ...."><% if (dataOld.length) { %><%= dataOld[0].Q6 %><% } %></textarea>
                </div>
            
                <div>
                    <label for="problem">ปัญหา/อุปสรรค:</label>
                    <textarea id="problem" name="problem" placeholder="กรอกข้อความ...."><% if (dataOld.length) { %><%= dataOld[0].Q7 %><% } %></textarea>
                </div>
            
                <div>
                    <label for="solution">แนวทางแก้ไข:</label>
                    <textarea id="solution" name="solution" placeholder="กรอกข้อความ...."><% if (dataOld.length) { %><%= dataOld[0].Q8 %><% } %></textarea>
                </div>
            
                <div>
                    <label for="note">หมายเหตุ:</label>
                    <textarea id="note" name="note" placeholder="กรอกข้อความ...."><% if (dataOld.length) { %><%= dataOld[0].Q9 %><% } %></textarea>
                </div>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" id="token">
                <input type="hidden" id="currentDateTime" name="currentDateTime" value="">
                <button type="submit" id="saveButton">บันทึก</button>
                <button type="button" id="submitButton" >ส่งรายงาน</button>
            </form>
        </div>
        

        <script>
            
            document.addEventListener('DOMContentLoaded', function () {
                //checkstatus to alert
                const urlParams = new URLSearchParams(window.location.search);
                const successParam = urlParams.get('success');
                //send timestamp
                const currentDateTimeField = document.getElementById('currentDateTime');
                const currentDateTime = new Date().toLocaleString('th-TH', {
                    timeZone: 'Asia/Bangkok',
                    hour12: false, 
                });
                currentDateTimeField.value = currentDateTime;
                //action button
                var saveButton = document.getElementById('saveButton');
                var submitButton = document.getElementById('submitButton');
                var form = document.getElementById('reportForm');

                saveButton.addEventListener('click', function () {
                    enableSubmitButton();
                    // sendDataToAPI(); // เรียกใช้ฟังก์ชัน sendDataToAPI() เมื่อคลิกที่ปุ่ม "บันทึก"
                });

                submitButton.addEventListener('click',function(){
                    csurf=document.getElementById('token').value
                    // console.log( csurf )
                    form=document.getElementById('reportForm');
                    sendDataToAPI(csurf );

                    
                })


                function enableSubmitButton() {
                    submitButton.disabled = false;
                }
                if (successParam === 'true') {
                    swal("Success!", "Data saved successfully", "success");
                }
                

                async function sendDataToAPI(csrfToken) {
                    const form = document.getElementById('reportForm');
                    const formData = new FormData(); // สร้าง FormData object

                    // วนลูปผ่านทุกๆองค์ประกอบของฟอร์ม
                    form.querySelectorAll('input, select, textarea').forEach(field => {
                        // เพิ่มชื่อฟิลด์และค่าที่ผู้ใช้ป้อนลงในฟิลด์ลงใน FormData object
                        formData.append(field.name, field.value);
                    });

                    // แสดงข้อมูลในฟอร์มทั้งหมดใน console.log
                    // console.log([...formData.entries()]);
                    console.log("Here",[...formData.entries()])
                    try {
                        var response = await fetch('/sendformcdp', {
                            method: 'POST',
                            body: [...formData.entries()], // ใช้ FormData object ที่มีข้อมูลจริง ๆ
                            headers: {
                                'CSRF-Token': csrfToken
                            }
                        });

                        if (!response.ok) {
                            throw new Error('Failed to send data');
                        }
                    } catch (error) {
                        console.error('Error sending data to API:', error);
                    }
                }



            });

        </script>

        <%- include('component/footer.ejs') %>

</body>

</html>
