<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>form</title>
    <link rel="icon" type="image/x-icon" href="../tracktag/img/favi.png">
    <style>
        .back {
            margin: 30px 0px 0px 30px;
            color: #000000;
            /* ตั้งค่าสีข้อความในลิงก์เป็นสีขาว */
            background-color: #FFF0C4;
            border-radius: 20px;
            width: 100px;
            height: 40px;
            text-align: center;
        }

        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .head {
            text-align: center;
            margin-top: 50px;
        }

        .custom-container,
        .custom-container-1 {
            display: flex;
            justify-content: space-between;
            width: 70%;
            margin: 0 auto;
            padding: 20px;
            border-radius: 50px;
            margin-top: 50px;
            margin-bottom: 50px;
            background-color: #FFF0C4;
        }

        .custom-container-1>div {
            width: 48%;
            padding: 10px;
            box-sizing: border-box;
            margin-bottom: 20px;
        }

        .left-content,
        .right-content {
            width: 50%;
            padding: 10px;
            box-sizing: border-box;
            margin-left: 50px;
        }

        form {
            width: 100%;
            box-sizing: border-box;
        }

        form div {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-top: 20px;
            width: 100%;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }

        select,
        textarea,
        input {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            margin-bottom: 15px;
            box-sizing: border-box;
            border: 2px solid #C2AF76;
            border-radius: 4px;
            resize: vertical;
            border-radius: 15px;
            background-color: #fffbf0;
        }

        input {
            width: 50%;
            position: relative;
            left: 75%;
            transform: translateX(-50%);
        }

        button {
            background-color: #C2AF76;
            color: white;
            padding: 10px 15px;
            border: 2px solid #C2AF76;
            border-radius: 50px;
        }

        button:last-child {
            margin-left: 0;
        }

        button:hover {
            background-color: #C2AF76;
            border-radius: 50px;
        }

        #fileUpload {
            display: none;
        }
        .footer label {
            font-weight: bold;
            margin-left: 13rem;
            margin-top: 5rem;
            font-size: 17px;
          }
    </style>

</head>

<body>

    <%- include('component/navbar.ejs') %>
        <script>
            function goBack() {
                window.history.back();
            }
        </script>
        <div>
            <button class="back" onclick="goBack()">ย้อนกลับ</button>
        </div>

        <div class="head">
            <% if (formdata && formdata.length> 0 && formdata[0].cityName) { %>
                <h5>
                    <%= formdata[0].cityName %>
                </h5>
                <% } else { %>
                    <h5>ไม่พบข้อมูลเมือง</h5>
                    <% } %>
        </div>




        <div class="head">
            <% if (formdata && formdata.length> 0 && formdata[0].solutionName) { %>
                <h6>ชื่อโครงการ: <%= formdata[0].solutionName %>
                </h6>
                <% } else { %>
                    <h6>ชื่อโครงการ: N/A </h6>
                    <% } %>
        </div>




        <div class="custom-container">
            <div class="left-content">
                <p class="header">รายละเอียดโครงการ:</p>
                <p><strong>ชื่อโครงการ:</strong>
                    <% if (!formdata || formdata.length===0) { %>
                        <p>ไม่พบข้อมูล</p>
                        <% } else { %>
                            <%= formdata[0].solutionName %>
                                <% } %>
                </p>
                <p><strong>รหัสโครงการ:</strong>
                    <% if (!formdata || formdata.length===0) { %>
                        <p>ไม่พบข้อมูล</p>
                        <% } else { %>
                            <%= formdata[0].solutionID %>
                                <% } %>
                </p>
                <p><strong>Smart:</strong>
                    <% if (!formdata || formdata.length===0) { %>
                        <p>ไม่พบข้อมูล</p>
                        <% } else { %>
                            <%= formdata[0].smart %>
                                <% } %>
                </p>
                <p><strong>แหล่งเงินทุน:</strong>
                    <% if (!formdata || formdata.length===0) { %>
                        <p>ไม่พบข้อมูล</p>
                        <% } %>
                </p>
                <p><strong>เงินทุน (บาท):</strong>
                    <% if (!formdata || formdata.length===0) { %>
                        <p>ไม่พบข้อมูล</p>
                        <% } else { %>
                            <%= formdata[0].funds %> บาท
                                <% } %>
                </p>
            </div>


            <div class="right-content" \88++>
                <p><strong>CDP :</strong></p>
                <ul class="flex flex-col ">
                    <% if (formdata && formdata.length> 0) { %>
                        <% formdata.forEach((item)=> { %>
                            <li> <span style="color: red;">-</span> <%= item.kpiName %>
                            </li>
                            <br>
                            <% }); %>
                                <% } else { %>
                                    <li>No data available</li>
                                    <% } %>
                </ul>
            </div>




        </div>

        <div class="custom-container-1">
            <form action="/saveForm/<%=formdata[0].solutionID%>" method="post">

                <!-- ช่องเลือก (รายการแบบเลื่อน) -->
                <div>
                    <label for="status">สถานะ :</label>
                    <input type="hidden" value="สถานะ" name="Q1">
                    <select id="status" name="A1">
                        <option value="null" <% if (!dataOld.length || JSON.parse(dataOld[0].ans)[0].Answer ===null) { %>selected<% } %>>ระบุ สถานะโครงการ</option>
                        <option value="delayed" <% if (dataOld.length && JSON.parse(dataOld[0].ans)[0].Answer==='delayed' ) { %>selected<% } %>>ล่าช้ากว่าแผน</option>
                        <option value="on_schedule"<% if (dataOld.length && JSON.parse(dataOld[0].ans)[0].Answer==='on_schedule' ) { %>selected<% } %>>ตามแผน</option>
                        <option value="ahead_of_schedule"<% if (dataOld.length && JSON.parse(dataOld[0].ans)[0].Answer==='ahead_of_schedule' ) { %>selected<% } %>>เร็วกว่าแผน</option>
                        <option value="not_started"<% if (dataOld.length && JSON.parse(dataOld[0].ans)[0].Answer==='not_started' ) { %>selected<% } %>>ยังไม่ดำเนินโครงการ</option>
                    </select>
                </div>

                <div>
                    <label for="progress">ความก้าวหน้าโครงการ :</label>
                    <input type="hidden" value="ความก้าวหน้าโครงการ" name="Q2">
                    <select id="progress" name="A2" placeholder="ความก้าวหน้าโครงการ">
                        <option value="0" <% if (!dataOld.length || JSON.parse(dataOld[0].ans)[1].Answer === null) { %>selected<% } %>>ระบุ % ความก้าวหน้า</option>
                        <% for (let i = 0; i <= 100; i += 5) { %>
                            <option value="<%= i %>" <% if (dataOld.length && JSON.parse(dataOld[0].ans)[1].Answer == i) { %>selected<% } %>><%= i %>%</option>
                        <% } %>
                    </select>
                    
                </div>

                <div>
                    <input type="hidden" value="Q3" name="Q3">

                    <input type="file" id="fileUpload" name="A3" accept=".pdf, .doc, .docx">
                </div>

                <!-- ตำแหน่ง textarea ที่เพิ่ม id="name" เพื่อให้สอดคล้องกับ label -->
                <div>
                    <input type="hidden" value="ผลการดำเนินงาน" name="Q4">

                    <label for="operation">ผลการดำเนินงาน:</label>
                    <textarea id="operation" name="A4" placeholder="กรอกข้อความ...."><% if(dataOld.length){ %><%= JSON.parse(dataOld[0].ans)[3].Answer %><% } %></textarea>
                </div>

                <!-- ตำแหน่ง textarea ที่เพิ่ม id="result" เพื่อให้สอดคล้องกับ label -->
                <div>
                    <input type="hidden" value="ผลลัพธ์" name="Q5">

                    <label for="result">ผลลัพธ์:</label>
                    <textarea id="result" name="A5" placeholder="กรอกข้อความ...."><% if(dataOld.length){ %><%= JSON.parse(dataOld[0].ans)[4].Answer %><% } %></textarea>
                </div>

                <div>
                    <input type="hidden" value="ประเภทปัญหา" name="Q6">

                    <label for="problem_type">ประเภทปัญหา:</label>
                    <select id="problem_type" name="A6">
                        <option value="null" <% if (!dataOld.length || JSON.parse(dataOld[0].ans)[5].Answer === null) { %>selected<% } %>>ระบุ ประเภทปัญหา</option>
                        <option value="ไม่มีปัญหา/อุปสรรค" <% if (dataOld.length && JSON.parse(dataOld[0].ans)[5].Answer === "ไม่มีปัญหา/อุปสรรค") { %>selected<% } %>>ไม่มีปัญหา/อุปสรรค</option>
                        <option value="ไม่มีงบประมาณ" <% if (dataOld.length && JSON.parse(dataOld[0].ans)[5].Answer === "ไม่มีงบประมาณ") { %>selected<% } %>>ไม่มีงบประมาณ</option>
                        <option value="ขาดแคลนบุคลากร" <% if (dataOld.length && JSON.parse(dataOld[0].ans)[5].Answer === "ขาดแคลนบุคลากร") { %>selected<% } %>>ขาดแคลนบุคลากร</option>
                        <option value="เปลี่ยนแปลงด้านนโยบาย" <% if (dataOld.length && JSON.parse(dataOld[0].ans)[5].Answer === "เปลี่ยนแปลงด้านนโยบาย") { %>selected<% } %>>เปลี่ยนแปลงด้านนโยบาย</option>
                        <option value="ปัญหาด้านการใช้เทคโนโลยี" <% if (dataOld.length && JSON.parse(dataOld[0].ans)[5].Answer === "ปัญหาด้านการใช้เทคโนโลยี") { %>selected<% } %>>ปัญหาด้านการใช้เทคโนโลยี</option>
                        <option value="ข้อจำกัดด้านกฏระเบียบ" <% if (dataOld.length && JSON.parse(dataOld[0].ans)[5].Answer === "ข้อจำกัดด้านกฏระเบียบ") { %>selected<% } %>>ข้อจำกัดด้านกฏระเบียบ</option>
                        <option value="ขาดผู้ใช้งาน/ขาดการสร้างความตระหนักรู้แก่ประชาชน" <% if (dataOld.length && JSON.parse(dataOld[0].ans)[5].Answer === "ขาดผู้ใช้งาน/ขาดการสร้างความตระหนักรู้แก่ประชาชน") { %>selected<% } %>>ขาดผู้ใช้งาน/ขาดการสร้างความตระหนักรู้แก่ประชาชน</option>
                        <option value="ไม่มีเจ้าภาพในการดำเนินกิจกรรม" <% if (dataOld.length && JSON.parse(dataOld[0].ans)[5].Answer === "ไม่มีเจ้าภาพในการดำเนินกิจกรรม") { %>selected<% } %>>ไม่มีเจ้าภาพในการดำเนินกิจกรรม</option>
                        <option value="Infrastructure ไม่เพียงพอเพื่อรองรับการดำเนินการ" <% if (dataOld.length && JSON.parse(dataOld[0].ans)[5].Answer === "Infrastructure ไม่เพียงพอเพื่อรองรับการดำเนินการ") { %>selected<% } %>>Infrastructure ไม่เพียงพอเพื่อรองรับการดำเนินการ</option>
                        <option value="อื่นๆ" <% if (dataOld.length && JSON.parse(dataOld[0].ans)[5].Answer === "อื่น ๆ") { %>selected<% } %>>อื่น ๆ</option>
                    </select>
                    
                </div>

                <div>
                    <input type="hidden" value="ปัญหาอื่นๆ" name="Q7">

                    <label for="elseproblem">ปัญหาอื่นๆ:</label>
                    <textarea id="elseproblem" name="A7" placeholder="กรอกข้อความ...."><% if(dataOld.length){ %><%= JSON.parse(dataOld[0].ans)[6].Answer %><% } %></textarea>
                </div>

                <!-- ตำแหน่ง textarea ที่เพิ่ม id="problem" เพื่อให้สอดคล้องกับ label -->
                <div>
                    <input type="hidden" value="ปัญหา/อุปสรรค" name="Q8">

                    <label for="problem">ปัญหา/อุปสรรค:</label>
                    <textarea id="problem" name="A8" placeholder="กรอกข้อความ...."><% if(dataOld.length){ %><%= JSON.parse(dataOld[0].ans)[7].Answer %><% } %></textarea>
                </div>

                <!-- ตำแหน่ง textarea ที่เพิ่ม id="solution" เพื่อให้สอดคล้องกับ label -->
                <div>
                    <input type="hidden" value="แนวทางแก้ไข" name="Q9">

                    <label for="solution">แนวทางแก้ไข:</label>
                    <textarea id="solution" name="A9" placeholder="กรอกข้อความ...."><% if(dataOld.length){ %><%= JSON.parse(dataOld[0].ans)[8].Answer %><% } %></textarea>
                </div>

                <!-- ตำแหน่ง textarea ที่เพิ่ม id="note" เพื่อให้สอดคล้องกับ label -->
                <div>
                    <input type="hidden" value="หมายเหตุ" name="Q10">

                    <label for="note">หมายเหตุ:</label>
                    <textarea id="note" name="A10" placeholder="กรอกข้อความ...."><% if(dataOld.length){ %><%= JSON.parse(dataOld[0].ans)[9].Answer %><% } %></textarea>
                </div>

                <div>
                    <input type="hidden" value="งบประมาณที่ใช้ในการดำเนินการ" name="Q11">

                    <label for="budget">งบประมาณที่ใช้ในการดำเนินการ:</label>
                    <textarea id="budget" name="A11" placeholder="กรอกข้อความ...."><% if(dataOld.length){ %><%= JSON.parse(dataOld[0].ans)[10].Answer %><% } %></textarea>
                </div>
                <% question.forEach(item => { %>
                    <div class="display-none">
                        <input type="hidden" value="<%= item.question %>" name="Q<%= item.questionID %>">
                        <label for="A<%= item.questionID %>"><%= item.question %>:</label>
                        <% 
                            let oldAnswer = ''; 
                            if (dataOld.length && dataOld[0].ans) {
                                const ansArray = JSON.parse(dataOld[0].ans);
                                ansArray.forEach(old => {
                                    if (old.Question === item.question) {
                                    
                                        oldAnswer = old.Answer;  // Use single equals for assignment
                                    }
                                });
                            }
                        %>
                        <textarea id="note" name="A<%= item.questionID %>" placeholder="กรอกข้อความ...."><%= oldAnswer %></textarea>
                    </div>
                <% }); %>











                <div class="footer">
                    <label>รายงานตามตัวชี้วัด</label>
                </div>

                <div>
                    <!-- <input type="hidden" value="URL ของ Platform/Website CDP" name="KPI1"> -->
                    <label for="urlPlatform"><%=formdata[0].kpiName  %>:</label>
                    <textarea id="urlPlatform" name="<%=formdata[0].kpiID  %>" placeholder="กรอกข้อความ...."><% if (datakpi.length) { %><%= datakpi[0].ans %><% } %></textarea>
                </div>
                <div>
                    <!-- <input type="hidden" value="URL ของ Data Catalog" name="KPI2"> -->
                    <label for="urlDatacatalog"><%=formdata[1].kpiName  %>:</label>
                    <textarea id="urlDatacatalog" name="<%=formdata[1].kpiID  %>" placeholder="กรอกข้อความ...."><% if (datakpi.length) { %><%= datakpi[1].ans %><% } %></textarea>
                </div>
                <div>
                    <!-- <input type="hidden" value="URL ของ Data Dashboard" name="KPI3"> -->
                    <label for="urlDatadashboard"><%=formdata[2].kpiName  %>:</label>
                    <textarea id="urlDatadashboard" name="<%=formdata[2].kpiID  %>" placeholder="กรอกข้อความ...."><% if (datakpi.length) { %><%= datakpi[2].ans %><% } %></textarea>
                </div>
                <div>
                    <!-- <input type="hidden" value="URL อื่นๆ" name="KPI4"> -->
                    <label for="urlElse"><%=formdata[3].kpiName  %>:</label>
                    <textarea id="urlElse" name="<%=formdata[3].kpiID  %>" placeholder="กรอกข้อความ...."><% if (datakpi.length) { %><%= datakpi[3].ans %><% } %></textarea>
                </div>
                <div>
                    <!-- <input type="hidden" value="รูปแบบการลงทุนจัดทำ CDP" name="KPI5"> -->
                    <label for="Investment"><%=formdata[4].kpiName  %>:</label>
                    <select id="Investment" name="<%=formdata[4].kpiID  %>">
                        <option value="null"<% if (!datakpi.length || datakpi[4].ans === "null") { %>selected<% } %>>ระบุ รูปแบบการลงทุน</option>
                        <option value="ภาครัฐ" <% if (datakpi.length && datakpi[4].ans === "ภาครัฐ") { %>selected<% } %>>ภาครัฐ</option>
                        <option value="ภาคเอกชน"<% if (datakpi.length && datakpi[4].ans === "ภาคเอกชน") { %>selected<% } %>>ภาคเอกชน</option>
                        <option value="ภาครัฐร่วมเอกชน"<% if (datakpi.length && datakpi[4].ans === "ภาครัฐร่วมเอกชน") { %>selected<% } %>>ภาครัฐร่วมเอกชน</option>
                    </select>
                </div>
                <div>
                    <!-- <input type="hidden" value="แหล่งที่มาของงบประมาณ" name="KPI6"> -->
                    <label for="source"><%=formdata[5].kpiName  %>:</label>
                    <textarea id="source" name="<%=formdata[5].kpiID  %>" placeholder="กรอกข้อความ...."><% if (datakpi.length) { %><%= datakpi[5].ans %><% } %></textarea>
                </div>
                <div>
                    <!-- <input type="hidden" value="รูปแบบการขับเคลื่อนและกำกับดูแล CDP" name="KPI7"> -->
                    <label for="Investment"><%=formdata[6].kpiName  %> :</label>
                    <select id="Investment" name="<%=formdata[6].kpiID  %>">
                        <option value="null">ระบุ รูปแบบการลงทุน</option>
                        <option value="ภาครัฐ" <% if (datakpi.length && datakpi[6].ans === "ภาครัฐ") { %>selected<% } %>>ภาครัฐ</option>
                        <option value="ภาคเอกชน" <% if (datakpi.length && datakpi[6].ans === "ภาคเอกชน") { %>selected<% } %>>ภาคเอกชน</option>
                        <option value="ภาครัฐร่วมเอกชน" <% if (datakpi.length && datakpi[6].ans === "ภาครัฐร่วมเอกชน") { %>selected<% } %>>ภาครัฐร่วมเอกชน</option>
                    </select>
                </div>
                <div>
                    <!-- <input type="hidden" value="การนำ CDP ไปใช้ให้เกิดประโยชน์" name="KPI8"> -->
                    <label for="usecdp"><%=formdata[7].kpiName  %>:</label>
                    <textarea id="usecdp" name="<%=formdata[7].kpiID  %>" placeholder="กรอกข้อความ...."><% if (datakpi.length) { %><%= datakpi[7].ans %><% } %></textarea>
                </div>












                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <!-- ปุ่มบันทึก -->
                <input type="submit" value="test">
                <button type="button" id="recordButton">บันทึก</button>

                <!-- ปุ่มส่งรายงาน -->
                <button type="button" id="submitButton">ส่งรายงาน</button>
            </form>
        </div>
        
        <!-- <script>
            document.addEventListener('DOMContentLoaded', function () {
                var statusSelect = document.getElementById('status');
                var progressSelect = document.getElementById('progress');
                var fileUploadInput = document.getElementById('fileUpload');
                var submitButton = document.getElementById('submitButton');
                var form = document.querySelector('form');

                statusSelect.addEventListener('change', function () {
                    toggleFileUpload();
                    updateSubmitButtonState();
                });

                progressSelect.addEventListener('change', function () {
                    toggleFileUpload();
                    updateSubmitButtonState();
                });

                form.addEventListener('input', function () {
                    updateSubmitButtonState();
                });

                submitButton.addEventListener('click', function () {
                    form.submit(); // This will submit the form to the specified 'action' in the form tag
                });

                function toggleFileUpload() {
                    if (statusSelect.value === '100' || progressSelect.value === '100') {
                        fileUploadInput.style.display = 'block';
                    } else {
                        fileUploadInput.style.display = 'none';
                    }
                }

                function updateSubmitButtonState() {
                    var isFormValid = Array.from(form.elements).every(function (element) {
                        if (
                            (element.tagName === 'INPUT' || element.tagName === 'SELECT' || element.tagName === 'TEXTAREA') &&
                            element.type !== 'file' && // Do not count input type file
                            element.value.trim() !== ''
                        ) {
                            return true;
                        } else if (element.type === 'file') {
                            return true; // No need to check uploaded file
                        } else if (element.type === 'button') {
                            return true; // Save and report buttons can always be pressed
                        } else {
                            return false;
                        }
                    });

                    if (isFormValid) {
                        submitButton.style.backgroundColor = '#C2AF76';
                        submitButton.style.cursor = 'pointer';
                        submitButton.disabled = false;
                    } else {
                        submitButton.style.backgroundColor = '#A9A9A9';
                        submitButton.style.cursor = 'not-allowed';
                        submitButton.disabled = true;
                    }
                }

                window.addEventListener('load', function () {
                    toggleFileUpload();
                    updateSubmitButtonState();
                });

                // Call updateSubmitButtonState when there are changes in the form
                form.addEventListener('input', function () {
                    updateSubmitButtonState();
                });

                // Call the function updateSubmitButtonState when the web page loads
                updateSubmitButtonState();
            });
        </script> -->

        <%- include('component/footer.ejs') %>

</body>

</html>