<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>form</title>
    <link rel="icon" type="image/x-icon" href="../tracktag/img/favi.png">
    <style>
        .description {
            color: #a7a7a7;
            font-size: small;
        }

        .back {
            margin: 30px 0 0 30px;
            color: #000;
            background-color: #FFF0C4;
            border-radius: 20px;
            width: 100px;
            height: 40px;
            text-align: center;
        }

        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .head {
            text-align: center;
            margin-top: 50px;
        }

        .custom-container,
        .custom-container-1 {
            display: flex;
            justify-content: space-between;
            width: 70%;
            margin: 50px auto;
            padding: 20px;
            border-radius: 50px;
            background-color: #FFF0C4;
        }

        .custom-container-1>div {
            width: 48%;
            padding: 10px;
            box-sizing: border-box;
            margin-bottom: 20px;
        }

        .left-content,
        .right-content {
            width: 50%;
            padding: 10px;
            box-sizing: border-box;
            margin-left: 50px;
            flex-direction: column;
        }

        .right-content ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            /* จัดให้ชิดด้านซ้าย */
            /* หรือใช้ align-items: center; เพื่อจัดให้อยู่ตรงกลาง */
        }

        form {
            width: 100%;
            box-sizing: border-box;
        }

        form div {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-top: 20px;
            width: 100%;
            text-align: center;
            align-items: flex-start;
        }

        select,
        textarea,
        input {
            width: 100%;
            padding: 8px;
            margin: 5px 0 15px;
            box-sizing: border-box;
            border: 2px solid #C2AF76;
            border-radius: 15px;
            background-color: #fffbf0;
        }

        input[type="file"] {
            display: none;
        }

        button {
            background-color: #C2AF76;
            color: white;
            padding: 10px 15px;
            border: 2px solid #C2AF76;
            border-radius: 50px;
            cursor: pointer;
            align-items: flex-start;
        }

        button:hover {
            background-color: #A9A9A9;
        }

        button:disabled {
            background-color: #A9A9A9;
            cursor: not-allowed;
        }

        #fileUpload {
            display: none;
        }

        .footer label {
            font-weight: bold;
            margin-left: 13rem;
            margin-top: 5rem;
            font-size: 17px;
        }
    </style>

</head>

<body>

    <%- include('component/navbar.ejs') %>
        <script>
            function goBack() {
                window.history.back();
            }
        </script>
        <div>
            <button class="back" onclick="goBack()">ย้อนกลับ</button>
        </div>

        <div class="head">
            <% if (formdata && formdata.length> 0 && formdata[0].cityName) { %>
                <h5>
                    <%= formdata[0].cityName %>
                </h5>
                <% } else { %>
                    <h5>ไม่พบข้อมูลเมือง</h5>
                    <% } %>
        </div>








        <div class="head">
            <% if (formdata && formdata.length> 0 && formdata[0].solutionName) { %>
                <h6>ชื่อโครงการ: <%= formdata[0].solutionName %>
                </h6>
                <% } else { %>
                    <h6>ชื่อโครงการ: N/A </h6>
                    <% } %>
        </div>








        <div class="custom-container">
            <div class="left-content">
                <p class="header">รายละเอียดโครงการ:</p>
                <p><strong>ชื่อโครงการ:</strong>
                    <% if (!formdata || formdata.length===0) { %>
                        <p>ไม่พบข้อมูล</p>
                        <% } else { %>
                            <%= formdata[0].solutionName %>
                                <% } %>
                </p>
                <p><strong>รหัสโครงการ:</strong>
                    <% if (!formdata || formdata.length===0) { %>
                        <p>ไม่พบข้อมูล</p>
                        <% } else { %>
                            <%= formdata[0].solutionID %>
                                <% } %>
                </p>
                <p><strong>Smart:</strong>
                    <% if (!formdata || formdata.length===0) { %>
                        <p>ไม่พบข้อมูล</p>
                        <% } else { %>
                            <%= formdata[0].smart %>
                                <% } %>
                </p>
                <p><strong>แหล่งเงินทุน:</strong>
                    <% if (!formdata || formdata.length===0) { %>
                        <p>ไม่พบข้อมูล</p>
                        <% } %>
                </p>
                <p><strong>เงินทุน (บาท):</strong>
                    <% if (!formdata || formdata.length===0) { %>
                        <p>ไม่พบข้อมูล</p>
                        <% } else { %>
                            <%= formdata[0].funds %> บาท
                                <% } %>
                </p>
            </div>




            <div class="right-content" \88++>
                <p><strong>CDP :</strong></p>
                <ul class="flex flex-col ">
                    <% datakpi.forEach(item=> { %>
                        <p>
                            <%= item.kpiName %>
                        </p>
                        <% }); %>
                </ul>
            </div>




        </div>

        <div class="custom-container-1">
            <form action="/saveFormcdp1/<%=formdata[0].solutionID%>" method="post">
                <div>
                    <input type="hidden" name="Q1" value="สถานะ">
                    <label for="status">สถานะ :</label>
                    <p class="description">สถานะปัจจุบันของการดำเนินโครงการ</p>
                    <select id="status" name="A1" required>
                        <option value="ยังไม่ดำเนินโครงการ" <% if (!dataOld.length || dataOld.length && dataOld[0].ans
                            && JSON.parse(dataOld[0].ans)[0].Answer==='ยังไม่ดำเนินโครงการ' ) { %>selected<% } %>
                                >ยังไม่ดำเนินโครงการ</option>

                        <option value="ล่าช้ากว่าแผน" <% if (dataOld.length && dataOld[0].ans &&
                            JSON.parse(dataOld[0].ans)[0].Answer==='ล่าช้ากว่าแผน' ) { %>selected<% } %>>ล่าช้ากว่าแผน
                        </option>
                        <option value="ตามแผน" <% if (dataOld.length && dataOld[0].ans &&
                            JSON.parse(dataOld[0].ans)[0].Answer==='ตามแผน' ) { %>selected<% } %>>ตามแผน</option>
                        <option value="เร็วกว่าแผน" <% if (dataOld.length && dataOld[0].ans &&
                            JSON.parse(dataOld[0].ans)[0].Answer==='เร็วกว่าแผน' ) { %>selected<% } %>>เร็วกว่าแผน
                        </option>
                        <option value="ยังไม่ดำเนินโครงการ" <% if (dataOld.length && dataOld[0].ans &&
                            JSON.parse(dataOld[0].ans)[0].Answer==='ยังไม่ดำเนินโครงการ' ) { %>selected<% } %>
                                >ยังไม่ดำเนินโครงการ</option>
                        <option value="ยกเลิก" <% if (dataOld.length && dataOld[0].ans &&
                            JSON.parse(dataOld[0].ans)[0].Answer==='ยกเลิก' ) { %>selected<% } %>>ยกเลิก</option>

                    </select>
                </div>




                <div>
                    <input type="hidden" name="Q2" value="ความก้าวหน้าโครงการ">
                    <label for="progress">ความก้าวหน้าโครงการ :</label>
                    <p class="description">ร้อยละของความก้าวหน้าภาพรวมในการดำเนินโครงการ</p>
                    <select id="progress" name="A2" placeholder="ความก้าวหน้าโครงการ">
                        <option value="0" <% if (!dataOld.length || !dataOld[0].ans ||
                            JSON.parse(dataOld[0].ans)[1].Answer===null) { %>selected<% } %>>ระบุ % ความก้าวหน้า
                        </option>
                        <% for (let i=0; i <=100; i +=5) { %>
                            <option value="<%= i %>" <% if (dataOld.length && dataOld[0].ans &&
                                JSON.parse(dataOld[0].ans)[1].Answer==i) { %>
                                selected
                                <% } %>>
                                    <%= i %>%
                            </option>
                            <% } %>
                    </select>

                </div>




                <div>

                    <input type="hidden" name="Q3" value="FileUpload">

                    <label for="fileUpload">แนบรูปภาพ</label>
                    <p class="description">แนบภาพประกอบการดำเนินโครงการเพื่อเป็นหลักฐานแสดงความสำเร็จของโครงการ</p>
                    <input type="file" id="fileUpload" name="A3" accept=".pdf, .doc, .docx">
                </div>




                <div>
                    <input type="hidden" name="Q4" value="ผลการดำเนินงาน">
                    <label for="operation">ผลการดำเนินงาน:</label>
                    <p class="description">ระบุผลสำเร็จหรือผลประโยชน์ที่เกิดขึ้นจากการดำเนินโครงการ</p>
                    <textarea id="operation" name="A4"
                        placeholder="กรอกข้อความ...."><%= dataOld.length && dataOld[0].ans ? JSON.parse(dataOld[0].ans)[3].Answer : '' %></textarea>
                </div>



                <div>
                    <input type="hidden" name="Q5" value="ประเภทปัญหา">
                    <label for="problem_type">ประเภทปัญหา:</label>
                    <p class="description">ระบุผลสำเร็จหรือผลประโยชน์ที่เกิดขึ้นจากการดำเนินโครงการ</p>
                    <select id="problem_type" name="A5">

                        <option value="null" <% if (!dataOld.length || !dataOld[0].ans ||
                            JSON.parse(dataOld[0].ans)[4].Answer===null) { %>selected<% } %>>ระบุประเภทปัญหา</option>
                        <option value="เทคนิค" <% if (dataOld.length && dataOld[0].ans &&
                            JSON.parse(dataOld[0].ans)[4].Answer==='เทคนิค' ) { %>selected<% } %>>เทคนิค</option>
                        <option value="การเงิน" <% if (dataOld.length && dataOld[0].ans &&
                            JSON.parse(dataOld[0].ans)[4].Answer==='การเงิน' ) { %>selected<% } %>>การเงิน</option>
                        <option value="การจัดการ" <% if (dataOld.length && dataOld[0].ans &&
                            JSON.parse(dataOld[0].ans)[4].Answer==='การจัดการ' ) { %>selected<% } %>>การจัดการ</option>
                    </select>
                </div>
                <div>
                    <input type="hidden" name="Q6" value="ปัญหาอื่น ๆ">
                    <label for="result">ปัญหาอื่นๆ:</label>
                    <p class="description">ระบุปัญหาที่พบจากการดำเนินโครงการ นอกเหนือจากที่กำหนดไว้</p>

                    <textarea id="result" name="A6"
                        placeholder="กรอกข้อความ...."><%= dataOld.length && dataOld[0].ans ? JSON.parse(dataOld[0].ans)[5].Answer : '' %></textarea>
                </div>




                <div>
                    <input type="hidden" name="Q7" value="ผลลัพธ์">
                    <label for="result">ผลลัพธ์:</label>
                    <p class="description">ผลที่เกิดขึ้นต่อยอดจากผลผลิต หรือผลระยะยาวซึ่งเกิดเป็นผลจุดหมายปลายทาง
                        หรือผลต่อเนื่องจากผลกระทบ</p>

                    <textarea id="result" name="A7"
                        placeholder="กรอกข้อความ...."><%= dataOld.length && dataOld[0].ans ? JSON.parse(dataOld[0].ans)[6].Answer : '' %></textarea>
                </div>


                <div>
                    <input type="hidden" name="Q8" value="ปัญหา/อุปสรรค">

                    <label for="problem">ปัญหา/อุปสรรค:</label>
                    <p class="description">อธิบายรายละเอียดของปัญหาที่พบจากการดำเนินโครงการ</p>

                    <textarea id="problem" name="A8"
                        placeholder="กรอกข้อความ...."><%= dataOld.length && dataOld[0].ans ? JSON.parse(dataOld[0].ans)[7].Answer : '' %></textarea>
                </div>




                <div>
                    <input type="hidden" name="Q9" value="แนวทางแก้ไข">
                    <label for="solution">แนวทางแก้ไข:</label>
                    <p class="description">ระบุวิธีการแก้ไขปัญหาที่พบจากการดำเนินโครงการ</p>
                    <textarea id="solution" name="A9"
                        placeholder="กรอกข้อความ...."><%= dataOld.length && dataOld[0].ans ? JSON.parse(dataOld[0].ans)[8].Answer : '' %></textarea>
                </div>
                <div>
                    <input type="hidden" name="Q10" value="หมายเหตุ">
                    <label for="note">หมายเหตุ:</label>
                    <p class="description">ผลการดำเนินการอื่นๆที่ต้องการรายงาน</p>
                    <textarea id="note" name="A10"
                        placeholder="กรอกข้อความ...."><%= dataOld.length && dataOld[0].ans ? JSON.parse(dataOld[0].ans)[9].Answer : '' %></textarea>
                </div>
                <div>
                    <input type="hidden" name="Q11" value="หมายเหตุ">
                    <label for="note">งบประมาณที่ใช้ในการดำเนินการ:</label>
                    <p class="description">ระบุงบประมาณที่เกิดขึ้นจากการดำเนินโครงการ</p>
                    <textarea id="note" name="A11"
                        placeholder="กรอกข้อความ...."><%= dataOld.length && dataOld[0].ans ? JSON.parse(dataOld[0].ans)[10].Answer : '' %></textarea>
                </div>
                <% question.forEach(item=> { %>
                    <div class="display-none">
                        <input type="hidden" value="<%= item.question %>" name="Q<%= item.questionID %>">
                        <label for="A<%= item.questionID %>">
                            <%= item.question %>:
                        </label>
                        <p class="description">
                            <%= item.Description %>
                        </p>
                        <% let oldAnswer='' ; if (dataOld.length && dataOld[0].ans) { const
                            ansArray=JSON.parse(dataOld[0].ans); ansArray.forEach(old=> {
                            if (old.Question === item.question) {

                            oldAnswer = old.Answer; // Use single equals for assignment
                            }
                            });
                            }
                            %>
                            <textarea id="note" name="A<%= item.questionID %>"
                                placeholder="กรอกข้อความ...."><%= oldAnswer %></textarea>
                    </div>
                    <% }); %>


                        <div class="footer">
                            <label>รายงานตามตัวชี้วัด</label>
                        </div>

                        <div>
                            <!-- <input type="hidden" value="URL ของ Platform/Website CDP" name="KPI1"> -->
                            <label for="urlPlatform">
                                <%=formdata[0].kpiName %>:
                            </label>
                            <textarea id="urlPlatform" name="<%=formdata[0].kpiID  %>"
                                placeholder="กรอกข้อความ...."><% if (datakpi.length) { %><%= datakpi[0].ans %><% } %></textarea>
                        </div>
                        <div>
                            <!-- <input type="hidden" value="URL ของ Data Catalog" name="KPI2"> -->
                            <label for="urlDatacatalog">
                                <%=formdata[1].kpiName %>:
                            </label>
                            <textarea id="urlDatacatalog" name="<%=formdata[1].kpiID  %>"
                                placeholder="กรอกข้อความ...."><% if (datakpi.length) { %><%= datakpi[1].ans %><% } %></textarea>
                        </div>
                        <div>
                            <!-- <input type="hidden" value="URL ของ Data Dashboard" name="KPI3"> -->
                            <label for="urlDatadashboard">
                                <%=formdata[2].kpiName %>:
                            </label>
                            <textarea id="urlDatadashboard" name="<%=formdata[2].kpiID  %>"
                                placeholder="กรอกข้อความ...."><% if (datakpi.length) { %><%= datakpi[2].ans %><% } %></textarea>
                        </div>
                        <div>
                            <!-- <input type="hidden" value="URL อื่นๆ" name="KPI4"> -->
                            <label for="urlElse">
                                <%=formdata[3].kpiName %>:
                            </label>
                            <textarea id="urlElse" name="<%=formdata[3].kpiID  %>"
                                placeholder="กรอกข้อความ...."><% if (datakpi.length) { %><%= datakpi[3].ans %><% } %></textarea>
                        </div>
                        <div>
                            <!-- <input type="hidden" value="รูปแบบการลงทุนจัดทำ CDP" name="KPI5"> -->
                            <label for="Investment">
                                <%=formdata[4].kpiName %>:
                            </label>
                            <select id="Investment" name="<%=formdata[4].kpiID  %>">
                                <option value="null" <% if (!datakpi.length || datakpi[4].ans==="null" ) { %>selected<%
                                        } %>>ระบุ รูปแบบการลงทุน</option>
                                <option value="ภาครัฐ" <% if (datakpi.length && datakpi[4].ans==="ภาครัฐ" ) { %>selected
                                    <% } %>>ภาครัฐ</option>
                                <option value="ภาคเอกชน" <% if (datakpi.length && datakpi[4].ans==="ภาคเอกชน" ) { %>
                                    selected<% } %>>ภาคเอกชน</option>
                                <option value="ภาครัฐร่วมเอกชน" <% if (datakpi.length &&
                                    datakpi[4].ans==="ภาครัฐร่วมเอกชน" ) { %>selected<% } %>>ภาครัฐร่วมเอกชน</option>
                            </select>
                        </div>
                        <div>
                            <!-- <input type="hidden" value="แหล่งที่มาของงบประมาณ" name="KPI6"> -->
                            <label for="source">
                                <%=formdata[5].kpiName %>:
                            </label>
                            <textarea id="source" name="<%=formdata[5].kpiID  %>"
                                placeholder="กรอกข้อความ...."><% if (datakpi.length) { %><%= datakpi[5].ans %><% } %></textarea>
                        </div>
                        <div>
                            <!-- <input type="hidden" value="รูปแบบการขับเคลื่อนและกำกับดูแล CDP" name="KPI7"> -->
                            <label for="Investment">
                                <%=formdata[6].kpiName %> :
                            </label>
                            <select id="Investment" name="<%=formdata[6].kpiID  %>">
                                <option value="null">ระบุ รูปแบบการลงทุน</option>
                                <option value="ภาครัฐ" <% if (datakpi.length && datakpi[6].ans==="ภาครัฐ" ) { %>selected
                                    <% } %>>ภาครัฐ</option>
                                <option value="ภาคเอกชน" <% if (datakpi.length && datakpi[6].ans==="ภาคเอกชน" ) { %>
                                    selected<% } %>>ภาคเอกชน</option>
                                <option value="ภาครัฐร่วมเอกชน" <% if (datakpi.length &&
                                    datakpi[6].ans==="ภาครัฐร่วมเอกชน" ) { %>selected<% } %>>ภาครัฐร่วมเอกชน</option>
                            </select>
                        </div>
                        <div>
                            <!-- <input type="hidden" value="การนำ CDP ไปใช้ให้เกิดประโยชน์" name="KPI8"> -->
                            <label for="usecdp">
                                <%=formdata[7].kpiName %>:
                            </label>
                            <textarea id="usecdp" name="<%=formdata[7].kpiID  %>"
                                placeholder="กรอกข้อความ...."><% if (datakpi.length) { %><%= datakpi[7].ans %><% } %></textarea>
                        </div>


                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <!-- ปุ่มบันทึก -->
                        <button type="submit" id="recordButton">บันทึก</button>

                        <!-- ปุ่มส่งรายงาน -->
                        <button type="button" id="submitButton">ส่งรายงาน</button>
            </form>
        </div>


        <%- include('component/footer.ejs') %>

</body>

</html>