<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('include/head.ejs') %>
    <title><%= pageTitle %></title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div id="spinner-container" class="fixed inset-0 bg-white bg-opacity-90 z-50 flex flex-col justify-center items-center">
        <img id="static-image" src="/img/favi.png" alt="Loading..." class="w-24 h-auto mb-5">
        <div id="spinner" class="flex gap-2">
            <div class="dot w-4 h-4 bg-blue-500 rounded-full animate-blink"></div>
            <div class="dot w-4 h-4 bg-blue-500 rounded-full animate-blink delay-100"></div>
            <div class="dot w-4 h-4 bg-blue-500 rounded-full animate-blink delay-200"></div>
        </div>
    </div>

    <div><%- include('component/navbar.ejs') %></div>
    

    <div >
        <img src="/img/bbj.png" alt="Banner Image" class="w-full">
    </div>

    <div class="title-container text-center py-5">
        <h1 class="text-4xl"><span class="text-yellow-600">CITY</span> PROFILE DASHBOARD</h1>
    </div>

    <div class="content-container flex justify-center items-center p-8">
        <iframe title="web" width="1200" height="800" src="https://app.powerbi.com/view?r=eyJrIjoiZjk0NTY5ZDgtODgwOC00Yjc1LTg0MDUtNjllZDM3M2Y0NmRmIiwidCI6IjRhNGY3YjUyLTBlMDUtNDQxNS04NDU0LTc2ODliMDBhODdiMiIsImMiOjEwfQ%3D%3D&pageName=ReportSection" frameborder="0" allowFullScreen="true"></iframe>
    </div>

    <div class="titles-container text-center py-5">
        <h1 class="text-4xl"><span class="text-yellow-600">CITY</span> OVERALL</h1>
    </div>

    <div class="table-container w-4/5 mx-auto bg-yellow-300 shadow-md rounded-2xl p-5">
        <input type="text" id="searchInput" placeholder="ค้นหา..." class="w-64 p-2 mb-5 border-2 border-teal-500 rounded-full float-right">
        <table class="table w-full border-collapse bg-white rounded-lg">
            <thead>
                <tr class="bg-yellow-100">
                    <th class="p-4">ลำดับ</th>
                    <th class="p-4">แผนพัฒนาเมืองอัจฉริยะ</th>
                    <th class="p-4">จังหวัด</th>
                    <th class="p-4">ประกาศเมืองอัจฉริยะ</th>
                    <th class="p-4">อายุการถือครองตราสัญลักษณ์</th>
                    <th class="p-4">%ความคืบหน้า</th>
                    <th class="p-4">%ความสำเร็จ</th>
                </tr>
            </thead>
            <tbody>
                <% fechdata.forEach((data, index) => { %>
                <tr class="hover:bg-gray-100">
                    <td class="p-4"><%= index + 1 %></td>
                    <td class="p-4"><a href="#" class="text-blue-500 hover:underline"><%= data.cityName %></a></td>
                    <td class="p-4"><%= data.province %></td>
                    <td class="p-4">
                        <% 
                            const date = new Date(data.date);
                            const thaiMonths = ['มกราคม', 'กุมภาพันธ์', 'มีนาคม', 'เมษายน', 'พฤษภาคม', 'มิถุนายน', 
                                                'กรกฎาคม', 'สิงหาคม', 'กันยายน', 'ตุลาคม', 'พฤศจิกายน', 'ธันวาคม'];
                            const formattedDate = `${date.getDate().toString().padStart(2, '0')} ${thaiMonths[date.getMonth()]} ${date.getFullYear().toString().substr(-2)}`;
                        %>
                        <%= formattedDate %>
                    </td>
                    <% if (data.years <= 0) { %>
                        <td class="p-4"><%= data.months %> เดือน <%= data.days %> วัน</td>
                    <% } else { %>
                        <td class="p-4"><%= data.years %> ปี <%= data.months %> เดือน <%= data.days %> วัน</td>
                    <% } %>
                    <td class="p-4">50%</td>
                    <td class="p-4">50%</td>
                </tr>
                <% }); %>
            </tbody>
        </table>
        <div id="table-navigation" class="flex justify-between mt-4">
            <button onclick="previousPage()" class="w-24 p-2 bg-yellow-100 border-2 border-yellow-600 rounded-full hover:bg-yellow-600 hover:text-white">Back</button>
            <button onclick="nextPage()" class="w-24 p-2 bg-yellow-100 border-2 border-yellow-600 rounded-full hover:bg-yellow-600 hover:text-white">Next</button>
        </div>
    </div>

    <%- include('component/footer.ejs') %>

    <script>
        window.onload = function() {
            document.getElementById('spinner-container').style.display = 'none';
        };

        window.addEventListener('DOMContentLoaded', (event) => {
            document.getElementById('spinner-container').style.display = 'flex';
        });

        var currentPage = 0;
        var rowsPerPage = 10;

        function nextPage() {
            var table = document.querySelector(".table");
            var tr = table.getElementsByTagName("tr");
            var totalPages = Math.ceil(tr.length / rowsPerPage);

            if (currentPage < totalPages - 1) {
                currentPage++;
                updateTableDisplay();
            }
        }

        function previousPage() {
            if (currentPage > 0) {
                currentPage--;
                updateTableDisplay();
            }
        }

        function updateTableDisplay() {
            var table = document.querySelector(".table");
            var tr = table.getElementsByTagName("tr");

            for (var i = 0; i < tr.length; i++) {
                if (i >= currentPage * rowsPerPage && i < (currentPage + 1) * rowsPerPage) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            updateTableDisplay();
        });

        document.getElementById('map').addEventListener('click', function(event) {
            var x = event.offsetX / this.width;
            var y = event.offsetY / this.height;

            console.log(`Clicked coordinates: x=${x}, y=${y}`);
        });

        function searchTable() {
            var input = document.getElementById("searchInput");
            var filter = input.value.toUpperCase();
            var table = document.querySelector(".table");
            var tr = table.getElementsByTagName("tr");

            for (var i = 0; i < tr.length; i++) {
                var td = tr[i].getElementsByTagName("td");
                if (td.length > 0) {
                    var rowContainsFilter = false;
                    for (var j = 0; j < td.length; j++) {
                        if (td[j].textContent.toUpperCase().indexOf(filter) > -1) {
                            rowContainsFilter = true;
                            break;
                        }
                    }
                    tr[i].style.display = rowContainsFilter ? "" : "none";
                }
            }
        }
    </script>
</body>
</html>
