<!DOCTYPE html>
<html lang="en">

<head>
    <script>
        // Redirect away from the login page if user is already logged in
        if (sessionStorage.getItem('isLoggedIn')) {
            window.location.href = '/city'; // Redirect to city page
        }
        history.pushState(null, null, location.href);
        window.onpopstate = function(event) {
            history.go(1);
        };
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Add this in the head section -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <!-- Add this before closing </body> tag -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <title><%= pageTitle %></title>
    <link rel="icon" type="image/x-icon" href="../tracktag/img/favi.png">
    <style>
        .title-container {
            text-align: center;
            padding: 20px;
            position: relative;
            top: -300px;
        }

        .citie-text {
            color: #C2AF76;
            /* รหัสสีของเมืองที่คุณต้องการ */
        }

        .cities-text {
            color: #04B2A1;
            /* รหัสสีของเมืองที่คุณต้องการ */
        }

        .content-container {
            width: 80%;
            /* กำหนดความกว้างของ content-container */
            margin: 0 auto;
            /* ทำให้ content-container อยู่กึ่งกลางตามแนวนอน */
            display: flex;
            justify-content: space-between;
            align-items: center;
            /* ทำให้ text และรูปภาพอยู่กึ่งกลางตามแนวตั้ง */
        }

        .text-container,
        .map-container {
            flex: 1;
        }

        .text-container {
            padding: 20px;
            position: relative;
            top: -150px;
            /* ปรับค่า top ตามที่คุณต้องการ */

        }


        .menu-text {
            color: black;
        }

        .map-container {
            text-align: right;
        }

        .map-container {
            text-align: right;
            position: relative;
            top: -120px;
            /* ปรับค่า top ตามที่ต้องการ */
            /* หรือใช้ margin-top แทน
        margin-top: -20px; 
        */
        }

        .map-container img {
            max-width: 100%;
            height: auto;
        }

        .text-container b.menu-text {
            margin-bottom: 50px;
            /* ปรับค่า margin-bottom ตามที่ต้องการ */
        }

        .text-container b.menu-text {
            margin-bottom: 50px;
        }

        .custom-rectangle {
            width: 100%;
            /* ปรับขนาดตามที่คุณต้องการ */
            height: 150px;
            /* ปรับขนาดตามที่คุณต้องการ */
            background-color: #e0f4ec;
            /* สีพื้นหลังของกรอบ */
            margin-top: 20px;
            /* ปรับตำแหน่งตามที่คุณต้องการ */
            border-radius: 50px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            overflow: hidden;
            box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
        }

        .image-container {
            text-align: center;
        }

        .custom-rectangle img {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
            /* ปรับขอบรูป */
        }

        .image-container h5 {
            margin-top: 10px;
            font-size: 10px;
            /* ปรับขนาดและรูปแบบตัวหนังสือตามที่คุณต้องการ */
        }

        h6 {
            margin-left: 190px;
            /* ปรับค่าตามที่คุณต้องการ */
            position: relative;
            top: -100px;
            /* ปรับค่าตามที่คุณต้องการ */
        }

        .link-u {
            margin-left: 190px;
            /* ปรับค่าตามที่คุณต้องการ */
            position: relative;
            top: -100px;
            /* ปรับค่าตามที่คุณต้องการ */
        }

        .my-swal-container {
            border: 2px solid #6C757D;
            background-color: #F8F9FA;
            border-radius: 10px;
            color: #495057;
            font-family: 'Arial', sans-serif;
        }

        .my-swal-popup {
            background-color: #F8F9FA;
            border: none;
            box-shadow: none;
        }

        .my-swal-title {
            color: #04B2A1;
        }

        .my-swal-text {
            color: #495057;
        }

        .my-swal-confirm-button {
            background-color: #28A745;
            color: #FFFFFF;
            border-radius: 5px;
        }
    </style>
</head>

<body>

    <%- include('../component/navbar.ejs') %>

    <div class="banner">
        <img src="img/bbj.png" alt="Banner Image">
    </div>

    <div class="title-container">
        <h1>แผน <span class="citie-text">Smart City  e</span></h1>
    </div>

    <%- include('../component/menu.ejs') %>
    
    <div class="content-container">
        <div class="text-container">
            <h4><span class="cities-text"><%= cityInfo.cityName %></span></h4>
            <br>
            <b class="menu-text">รายชื่อข้อเสนอแผนพัฒนาเมืองอัจฉริยะ :</b> <b style="color: #04B2A1;"><%= cityInfo.cityName %>
            <br>
            <br>
            <b class="menu-text">จังหวัด :</b> <b style="color: #04B2A1;"><%= cityInfo.province %></b>
            <br>
            <br>
            <b class="menu-text">ผู้พัฒนาเมืองอัจฉริยะ :</b> <b style="color: #04B2A1;"><%= cityInfo.developer %></b>
            <br>
            <br>
            <b class="menu-text">ประกาศเมืองอัจฉริยะ :</b> <b style="color: #04B2A1;"><%= cityInfo.date.toLocaleString() %></b>
            <br>
            <br>
            <b class="menu-text">ผู้บริหารของหน่วยงาน :</b> <b style="color: #04B2A1;"><%= cityInfo.executive %></b>
            <br>
            <br>
            <b class="menu-text">มูลค่าการลงทุน :</b> <b style="color: #04B2A1;"><%= (cityInfo.government_investment+cityInfo.private_investment).toLocaleString() %> บาท </b>
            <br>
            <br>
            <b class="menu-text">มูลค่าการลงทุนภาครัฐ :</b> <b style="color: #04B2A1;"><%= cityInfo.government_investment.toLocaleString() %> บาท </b>
            <br>
            <br>
            <b class="menu-text">มูลค่าการลงทุนภาคเอกชน :</b> <b style="color: #04B2A1;"><%= cityInfo.private_investment.toLocaleString() %> บาท </b>
            <br>
            <br>
            <b class="menu-text">7 smart :</b>
            <div class="custom-rectangle">
                <div class="col-md-1">
                    <div class="image-container">
                        <h5>Smart Environment</h5>
                        <img src="img/s1.png" alt="Image 1">
                        <h5><%= smartKeyCounts.ENV %> โครงการ</h5>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="image-container">
                        <h5>Smart Energy</h5>
                        <img src="img/se.png" alt="Image 2">
                        <h5><%= smartKeyCounts.ENE%> โครงการ</h5>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="image-container">
                        <h5>Smart Economy</h5>
                        <img src="img/sec.png" alt="Image 3">
                        <h5><%= smartKeyCounts.ECO%>  โครงการ</h5>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="image-container">
                        <h5>Smart Mobility</h5>
                        <img src="img/sm.png" alt="Image 4">
                        <h5><%= smartKeyCounts.MOB%>  โครงการ</h5>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="image-container">
                        <h5>Smart Governance</h5>
                        <img src="img/sco.png" alt="Image 5">
                        <h5><%= smartKeyCounts.GOV%>  โครงการ</h5>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="image-container">
                        <h5>Smart People</h5>
                        <img src="img/sp.png" alt="Image 6">
                        <h5><%= smartKeyCounts.PEO%>  โครงการ</h5>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="image-container">
                        <h5>Smart Living</h5>
                        <img src="img/sl.png" alt="Image 7">
                        <h5><%= smartKeyCounts.LIV%>  โครงการ</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="map-container">
            <%- include('./map.ejs') %>
        </div>
        <h6><span style="color: blue;">Download</span> เอกสารรายละเอียดของแผนเมือง</h6>
        <a href="" class="link-u">1.ข้อสรุปผู้บริหาร</a>
        <br>
        <a href="" class="link-u">2.ข้อเสนอแผนเมืองอัจฉริยะที่ยื่นเสนอ</a>
        <br>
        <a href="" class="link-u">3.ประกาศจากคณะกรรมการชาติในการได้รับตราสัญลักษณ์เมืองอัจฉริยะ</a>
        <br>
        <a href="" class="link-u">4.อื่นๆ</a>

        <center><a><small>d</small></a></center><br>
        <%- include('../component/footer.ejs') %>

        <script>
            document.addEventListener("DOMContentLoaded", function() {
                // แสดง SweetAlert ที่ถูกปรับแต่ง
                Swal.fire({
                    title: 'ยินดีต้อนรับ',
                    text: 'คุณต้องอัพโหลดไฟล์รายงานครบ 2ปี ในอีก 0 วัน 0 เดือน',
                    imageUrl: "img/favi.png",
                    imageWidth: 100,
                    imageHeight: 100,
                    imageAlt: "Custom image",
                    confirmButtonText: 'OK',
                    customClass: {
                        container: 'my-swal-container',
                        popup: 'my-swal-popup',
                        title: 'my-swal-title',
                        text: 'my-swal-text',
                        confirmButton: 'my-swal-confirm-button'
                    }
                });
            });
        </script>
    <script>
        
    </script>
</body>

</html>