<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@400;700&display=swap');

        .font-th-sarabun {
            font-family: 'Sarabun', sans-serif;
        }

        #spinner-container {
            display: flex;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.9);
            z-index: 9999;
            overflow: hidden;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        #static-image {
            width: 300px;
            height: auto;
            margin-bottom: 20px;
        }

        #spinner {
            display: flex;
            gap: 10px;
        }

        .dot {
            width: 16px;
            height: 16px;
            background-color: #3498db;
            border-radius: 50%;
            animation: blink 1.4s infinite both;
        }

        .dot:nth-child(1) {
            animation-delay: -0.32s;
        }

        .dot:nth-child(2) {
            animation-delay: -0.16s;
        }

        @keyframes blink {
            0%,
            80%,
            100% {
                opacity: 0;
            }

            40% {
                opacity: 1;
            }
        }
    </style>
</head>

<body class="font-th-sarabun">
    <div id="spinner-container">
        <img id="static-image" src="/img/favi.png" alt="Loading...">
        <div id="spinner">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div>
    <div class="flex flex-col">
        <div>
            <%- include('../component/navbar.ejs') %>
        </div>
        <div>
            <img src="/img/bbj.png" alt="Banner Image" class="w-full">
        </div>
        <div class="text-4xl flex font-normal justify-center py-5 flex-wrap">
            <p>แผน </p>
            <p class="text-[#C2AF76]"> Smart City </p>
        </div>
        <div class="my-5">
            <%- include('../component/menu1.ejs') %>
        </div>
        <div class="flex flex-col lg:flex-row justify-around mt-10 mx-auto">
            <div class="w-full lg:w-1/2 p-5 lg:p-20">
                <h4 class="text-2xl font-bold">
                    <span class="text-teal-600">
                        <%= cityInfo.cityName %>
                    </span>
                </h4>
                <div class="my-5">
                    <b class="text-lg">รายชื่อข้อเสนอแผนพัฒนาเมืองอัจฉริยะ :</b>
                    <b class="text-teal-600">
                        <%= cityInfo.cityName %>
                    </b>
                </div>
                <div class="my-5">
                    <b class="text-lg">จังหวัด :</b>
                    <b class="text-teal-600">
                        <%= cityInfo.province %>
                    </b>
                </div>
                <div class="my-5">
                    <b class="text-lg">ผู้พัฒนาเมืองอัจฉริยะ :</b>
                    <b class="text-teal-600">
                        <%= cityInfo.developer %>
                    </b>
                </div>
                <div class="my-5">
                    <b class="text-lg">ประกาศเมืองอัจฉริยะ :</b>
                    <b class="text-teal-600">
                        <% const date = new Date(cityInfo.date); 
                            const formattedDate = `${date.getDate().toString().padStart(2, '0')}/${(date.getMonth() + 1).toString().padStart(2, '0')}/${date.getFullYear().toString().padStart(4, '0')}`; %>
                        <%= formattedDate %>
                    </b>
                </div>
                <div class="my-5">
                    <b class="text-lg">อายุของเมือง :</b>
                    <b class="text-teal-600">
                        <%= announcementDuration.years %> ปี
                        <%= announcementDuration.months %> เดือน
                        <%= announcementDuration.days %> วัน
                        (<%= announcementDuration.totalDays %> วัน)
                    </b>
                </div>
                <div class="my-5">
                    <b class="text-lg">วันครบรอบ 2 ปี :</b>
                    <b class="text-teal-600">
                        <%= announcementDuration.twoYearsLaterFormatted %>
                    </b>
                </div>
                <div class="my-5">
                    <b class="text-lg">ผู้บริหารของหน่วยงาน :</b>
                    <b class="text-teal-600">
                        <%= cityInfo.executive %>
                    </b>
                </div>
                <div class="my-5">
                    <b class="text-lg">มูลค่าการลงทุน :</b>
                    <b class="text-teal-600">
                        <%= (cityInfo.government_investment + cityInfo.private_investment).toLocaleString() %> บาท
                    </b>
                </div>
                <div class="my-5">
                    <b class="text-lg">มูลค่าการลงทุนภาครัฐ :</b>
                    <b class="text-teal-600">
                        <%= cityInfo.government_investment.toLocaleString() %> บาท
                    </b>
                </div>
                <% if (cityInfo.private_investment) { %>
                <div class="my-5">
                    <b class="text-lg">มูลค่าการลงทุนภาคเอกชน :</b>
                    <b class="text-teal-600">
                        <%= cityInfo.private_investment.toLocaleString() %> บาท
                    </b>
                </div>
                <% } %>
                <div class="my-5">
                    <% if (cityInfo.executive && cityInfo.executive.includes('ผู้ว่าราชการจังหวัด')) { %>
                    <% if (province.length > 0) { %>
                    <div class="flex items-start">
                        <div class="text-lg"><b>โครงการในจังหวัด : </b></div>
                        <div class="text-lg">
                            <% province.forEach(item => { %>
                            <div>
                                <div class="text-teal-600">
                                    <b><%= item.cityName %></b>
                                </div>
                            </div>
                            <% }) %>
                        </div>
                    </div>
                    <% } %>
                    <% } %>
                </div>
            </div>
            <div class="w-full lg:w-1/2 p-5 lg:p-20">
                <div class="map-container">
                    <img src="/cityPic/<%= cityInfo.cityID %>.png" id="mapImage" class="w-full">
                </div>
            </div>
        </div>
        <div class="mx-5 scale-100 lg:scale-75">
            <div class="text-3xl text-center"><b>7 smart :</b><b style="color: #04B2A1;">
                    <%= Object.values(smartKeyCounts).reduce((acc, value) => acc + value, 0 - 4) %>โครงการ
                </b>
            </div>
            <div class="flex flex-wrap justify-around p-6 rounded-xl border-[#00B2A9] border-4 mt-5  ">
                <div class="flex flex-col items-center m-4">
                    <h5 class="text-center">Smart <br>Environment</h5>
                    <img src="/img/lo01.png" alt="Image 1" class="w-20 h-20">
                    <h5 class="mt-2">
                        <%= smartKeyCounts.ENV %> โครงการ
                    </h5>
                </div>
                <div class="flex flex-col items-center m-4">
                    <h5 class="text-center">Smart <br> Energy</h5>
                    <img src="/img/lo04.png" alt="Image 2" class="w-20 h-20">
                    <h5 class="mt-2">
                        <%= smartKeyCounts.ENE %> โครงการ
                    </h5>
                </div>
                <div class="flex flex-col items-center m-4">
                    <h5 class="text-center">Smart <br>Economy</h5>
                    <img src="/img/lo05.png" alt="Image 3" class="w-20 h-20">
                    <h5 class="mt-2">
                        <%= smartKeyCounts.ECO %> โครงการ
                    </h5>
                </div>
                <div class="flex flex-col items-center m-4">
                    <h5 class="text-center">Smart <br>Mobility</h5>
                    <img src="/img/lo03.png" alt="Image 4" class="w-20 h-20">
                    <h5 class="mt-2">
                        <%= smartKeyCounts.MOB %> โครงการ
                    </h5>
                </div>
                <div class="flex flex-col items-center m-4">
                    <h5 class="text-center">Smart <br>Governance</h5>
                    <img src="/img/lo02.png" alt="Image 5" class="w-20 h-20">
                    <h5 class="mt-2">
                        <%= smartKeyCounts.GOV %> โครงการ
                    </h5>
                </div>
                <div class="flex flex-col items-center m-4">
                    <h5 class="text-center">Smart <br> People</h5>
                    <img src="/img/lo07.png" alt="Image 6" class="w-20 h-20">
                    <h5 class="mt-2">
                        <%= smartKeyCounts.PEO %> โครงการ
                    </h5>
                </div>
                <div class="flex flex-col items-center m-4">
                    <h5 class="text-center">Smart <br> Living</h5>
                    <img src="/img/lo06.png" alt="Image 7" class="w-20 h-20">
                    <h5 class="mt-2">
                        <%= smartKeyCounts.LIV %> โครงการ
                    </h5>
                </div>
            </div>
        </div>
        <div class="ml-0 mb-10 lg:ml-52">
            <div class="text-xl"><span class="text-cyan-500">Download </span><span>เอกสารรายละเอียดของแผนเมือง :</span></div>
            <% datafile.forEach(data => { %>
            <% if (data.fileID === "F1") { %>
            <a style="margin-left: 0;" href="<%= data.link %>" target="_blank" class="relative">1.ข้อสรุปผู้บริหาร</a><br>
            <% } else if (data.fileID === "F2") { %>
            <a style="margin-left: 0;" href="<%= data.link %>" target="_blank" class="relative">2.ข้อเสนอแผนเมืองอัจฉริยะที่ยื่นเสนอ</a><br>
            <% } else if (data.fileID === "F3") { %>
            <a style="margin-left: 0;" href="<%= data.link %>" target="_blank" class="relative">3.ประกาศจากคณะกรรมการชาติในการได้รับตราสัญลักษณ์เมืองอัจฉริยะ</a><br>
            <% } else { %>
            <a style="margin-left: 0;" href="<%= data.link %>" target="_blank" class="relative">4.อื่นๆ</a>
            <% } %>
            <% }) %>
        </div>
        <div>
            <%- include('../component/footer.ejs') %>
        </div>
    </div>

    <script>
        window.onload = function () {
            document.getElementById('spinner-container').style.display = 'none';
        };

        window.addEventListener('DOMContentLoaded', (event) => {
            document.getElementById('spinner-container').style.display = 'flex';
        });

        document.addEventListener("DOMContentLoaded", function () {
            const twoYearsLaterFormatted = '<%= announcementDuration.twoYearsLaterFormatted %>';
            const round = parseInt('<%= dataRound[0].round %>');
            const [day, month, year] = twoYearsLaterFormatted.split('/').map(Number);
            const targetDate = new Date(year, month - 1, day);
            let currentDate = new Date();
            let timeDiff = Math.abs(targetDate.getTime() - currentDate.getTime());
            let remainingDays = Math.ceil(timeDiff / (1000 * 3600 * 24));
            let remainingYears = Math.floor(remainingDays / 365.25);
            let remainingDaysInYear = remainingDays % 365.25;
            let remainingMonths = Math.floor(remainingDaysInYear / 30);
            let remainingDaysInMonth = Math.floor(remainingDaysInYear % 30);
            let currentDay = currentDate.getDate();
            let currentMonth = currentDate.getMonth() + 1;
            let currentYear = currentDate.getFullYear();
            let event = false;
            let form1StartDay = 23;
            let form1EndDay = 30;
            let form1StartMonth = 5;
            let form1EndMonth = 5;
            let form1Year = 2025;
            let reportStartDay = 2;
            let reportEndDay = 5;
            let reportStartMonth = 12;
            let reportEndMonth = 12;
            let reportYear = 2027;
            let message = '';

            if (currentYear === form1Year && currentMonth === form1StartMonth && currentDay >= form1StartDay && currentDay <= form1EndDay) {
                message = `<span class="highlight">กรอกแบบฟอร์มครั้งที่ ${round} ช่วงเวลา 3-5 พ.ค. 2024</span><br><br>`;
                event = true;
            } else {
                message = `กรอกแบบฟอร์มครั้งที่ ${round} ช่วงเวลา 3-5 พ.ค. 2024<br><br>`;
            }

            if (
                (currentYear === reportYear && currentMonth === reportStartMonth && currentDay >= reportStartDay && currentDay <= reportEndDay) ||
                (currentYear === reportYear && currentMonth === reportEndMonth && currentDay <= reportEndDay)
            ) {
                message += '<span class="highlight">คุณต้องอัพโหลดไฟล์รายงาน ช่วงเวลา 2-5 ธ.ค. 2027</span><br><br>';
                event = true;
            } else if (event === true) {
                message += 'คุณต้องอัพโหลดไฟล์รายงาน ในอีก ';
                if (remainingYears > 0) {
                    message += remainingYears + ' ปี ';
                }
                if (remainingMonths > 0) {
                    message += remainingMonths + ' เดือน ';
                }
                message += remainingDaysInMonth + ' วัน<br><br>';
            } else {
                message += '<span class="highlight">คุณต้องอัพโหลดไฟล์รายงาน ในอีก ';
                if (remainingYears > 0) {
                    message += remainingYears + ' ปี ';
                }
                if (remainingMonths > 0) {
                    message += remainingMonths + ' เดือน ';
                }
                message += remainingDaysInMonth + ' วัน</span><br><br>';
            }

            Swal.fire({
                title: 'ช่วงเวลากรอกฟอร์ม / อัพโหลดไฟล์',
                html: '<style>.highlight { color: red; }</style>' + message,
                imageUrl: "/img/favi.png",
                imageWidth: 100,
                imageHeight: 100,
                imageAlt: "Custom image",
                confirmButtonText: 'OK',
                customClass: {
                    container: 'bg-[#F8F9FA] border-[#6C757D] border-2 rounded-md text-[#495057] font-Arial',
                    popup: 'bg-[#F8F9FA] border-none shadow-none',
                    title: 'text-[#04B2A1]',
                    text: 'text-[#495057]',
                    confirmButton: 'bg-green-600 text-white rounded-md'
                }
            });
        });
    </script>
</body>

</html>
