<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../include/head.ejs') %>
        <title>
            <%= pageTitle %>
        </title>
        <style>
            .title-container {
                text-align: center;
                padding: 20px;
                position: relative;
                top: -300px;
            }

            .titles-container {
                text-align: center;
                padding: 20px;
                position: relative;
                top: 0px;
            }

            .collapsible {
                background-color: #FEDC7A;
                color: white;
                cursor: pointer;
                padding: 18px;
                width: 100%;
                text-align: left;
                outline: none;
                font-size: 16px;
                border-radius: 20px;
                margin-bottom: 10px;
                color: #424242;
            }

            .collapsible:hover {
                background-color: #C2AF76;
                color: white;
            }

            .content {
                display: none;
                padding: 10px;
                /* ปรับ padding เพื่อให้มีพื้นที่ของตาราง */
                overflow: hidden;
                background-color: #f1f1f1;
                margin-bottom: 10px;
                margin-left: 10px;
                margin-right: 10px;
                border-radius: 20px;
                margin-bottom: 10px;
            }

            .table-container {
                width: 80%;
                margin: 0 auto;
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
                border-radius: 20px;
                /* เพิ่ม overflow: hidden เพื่อป้องกัน input ทับข้อมูลตาราง */
                margin-bottom: 50px;
                background-color: #FEDC7A;
            }

            table {
                width: 100%;
                border-collapse: collapse;
            }

            th,
            td {
                border: 1px solid #ddd;
                padding: 8px;
                text-align: left;
                font-size: 16px;
            }

            th {
                background-color: #FEDC7A;
                color: black;
                border-radius: 0rem;
                font-size: 14px;
                color: #424242;
            }

            .card-body {
                background-color: #FFF4D1;
                /* เปลี่ยนสีพื้นหลังของเนื้อหาในรายการ Accordion */
            }
        </style>

</head>

<body>

    <%- include('../component/navbar.ejs') %>

        <div class="banner">
            <img src="/img/bbj.png" alt="Banner Image">
        </div>

        <div class="title-container">
            <h1>รายงานความคืบหน้าในการขับเคลื่อนเมืองที่ได้รับตราสัญลักษณ์</h1>
        </div>

        <%- include('../component/menu.ejs') %>

            <h4 style="text-align: center; color:#04B2A1">เมืองอัจฉริยะ</h4>
            <br>

            <div class="table-container">
                <button class="collapsible">ภูเก็ตเมืองอัจฉริยะ</button>
                <div class="content">
                    <table>
                        <tr>
                            <th>โครงสร้าง / Smart</th>
                            <th>Project</th>
                            <th>Response</th>
                        </tr>
                    </table>
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">
                                        โครงสร้างพื้นฐานด้านกายภาพ
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <table>
                                        <td>
                                        <td>โครงสร้างพื้นฐานกายภาพ</td>
                                        <td><a href="./form.php">โครงสร้างพื้นฐานกายภาพ</a></td>
                                        <td>ยังไม่ได้รายงาน</td>
                                        </td>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        โครงสร้างพื้นฐานด้านดิจิทัล
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <table>
                                        <td>
                                        <td>โครงสร้างพื้นฐานด้านดิจิทัล</td>
                                        <td><a href="/form.php">โครงสร้างพื้นฐานด้านดิจิทัล</a></td>
                                        <td>ยังไม่ได้รายงาน</td>
                                        </td>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        ระบบบริหารข้อมูลเมือง City Data Platform
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <table>
                                        <tr>
                                            <td>City Data Platform</td>
                                            <td><a href="./form.php">ระบบบริหารข้อมูลเมือง City Data Platform</a></td>
                                            <td>ยังไม่ได้รายงาน</td>
                                        </tr>
                                    </table>
                                    <table>
                                        <tr>
                                            <td>City Data Platform</td>
                                            <td><a href="./form.php">Data Catelog</a></td>
                                            <td>ยังไม่ได้รายงาน</td>
                                        </tr>
                                    </table>
                                    <table>
                                        <tr>
                                            <td>City Data Platform</td>
                                            <td><a href="./form.php">Data exchange</a></td>
                                            <td>ยังไม่ได้รายงาน</td>
                                        </tr>
                                    </table>
                                    <table>
                                        <tr>
                                            <td>City Data Platform</td>
                                            <td><a href="./form.php">Data grovernent</a></td>
                                            <td>ยังไม่ได้รายงาน</td>
                                        </tr>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingfour">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                                        Smart Environment
                                    </button>
                                </h5>
                            </div>
                            <div id="collapsefour" class="collapse" aria-labelledby="headingfour"
                                data-parent="#accordion">
                                <div class="card-body">
                                    content
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingfive">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                                        Smart Energy
                                    </button>
                                </h5>
                            </div>
                            <div id="collapsefive" class="collapse" aria-labelledby="headingfive"
                                data-parent="#accordion">
                                <div class="card-body">
                                    content
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingsix">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
                                        Smart Economy
                                    </button>
                                </h5>
                            </div>
                            <div id="collapsesix" class="collapse" aria-labelledby="headingsix"
                                data-parent="#accordion">
                                <div class="card-body">
                                    content
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingseven">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapseseven" aria-expanded="false"
                                        aria-controls="collapseseven">
                                        Smart Mobility
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseseven" class="collapse" aria-labelledby="headingseven"
                                data-parent="#accordion">
                                <div class="card-body">
                                    content
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingeeight">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapseeight" aria-expanded="false"
                                        aria-controls="collapseeight">
                                        Smart Governance
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseeight" class="collapse" aria-labelledby="headingeight"
                                data-parent="#accordion">
                                <div class="card-body">
                                    content
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingenine">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapsenine" aria-expanded="false" aria-controls="collapsenine">
                                        Smart People
                                    </button>
                                </h5>
                            </div>
                            <div id="collapsenine" class="collapse" aria-labelledby="headingenine"
                                data-parent="#accordion">
                                <div class="card-body">
                                    content
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingeten">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapseten" aria-expanded="false" aria-controls="collapseten">
                                        Smart Living
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseten" class="collapse" aria-labelledby="headingeten"
                                data-parent="#accordion">
                                <div class="card-body">
                                    content
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <br>
            <br>
            <%- include('../component/footer.ejs') %>

                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        var collapsibles = document.querySelectorAll('.collapsible');

                        collapsibles.forEach(function (collapsible) {
                            var content = collapsible.nextElementSibling;

                            collapsible.addEventListener('click', function () {
                                if (content.style.display === 'block') {
                                    content.style.display = 'none';
                                } else {
                                    content.style.display = 'block';
                                }
                            });
                        });
                    });

                </script>

</body>

</html>