<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../include/ad-head.ejs') %>
    <title>
        Admin - <%= pageTitle %>
    </title>
</head>
   

<body>
    <%- include('../include/ad-navbar.ejs') %>

    <div class="container-fluid">
        Test
    </div>

    <div>
        <div class="row">
       
            <div class="col-sm-12 col-md-12 col-lg-12s pad">
                <div class="card border-inaction h-100">
                    <div class="card-header bg-inaction text-white">
                        City
                    </div>
                    <div class="card-body">


                        <% if (cities.length == 0) { %>
                        ไม่พบข้อมูล
                        <% } else {%>

                        
                        <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2">
                            <% cities.forEach(city => { %>
                                <!-- Card for each city -->
                            <div class="col mb-4">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <!-- <div class="container"> -->
                                        <div class="row">
                                            <!-- <div class="col-sm-3">
                                             
                                                </div> -->
                                            <div class="col-sm-12"> 
                                                <b><%= city.cityname%></b>
                                            </div>

                                        </div>
                                        <!-- </div> -->
                                        <p class="card-text">
                                        </p>
                                        <a href="" class="btn btn-secondary disabled">
                                            <b> <i class="fas fa-hashtag"></i><%= city.cityID%></b></a>
                                        <a href="/admin/city/<%= city.cityID%>" class="btn btn-info">
                                            <i class="fas fa-info-circle"></i>
                                            ข้อมูลเมือง</a>
                                            <a href="" class="btn btn-info">
                                                <i class="fas fa-tachometer-alt"></i>
                                                แดชบอร์ด</a>
                                    </div>

                                </div>
                            </div>
                            <% }); %>
                           

                        </div>
                        <% } %>

                    </div>
                </div>
            </div>
            </div>
    </div>

    

    <%- include('../include/ad-footer.ejs') %>
</body>

</html>
