<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>แก้ไข KPI</title>
  <!-- เพิ่ม stylesheet ของ Tailwind CSS -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
  <style>
    .custom-input:focus-visible {
      outline: none;
      border-color: #04B2A1;
      box-shadow: 0 0 0 2px black;
    }
    .custom-input {
      transition: border-color 0.3s ease-in-out;
    }
    .custom-input:focus {
      border-color: #04B2A1;
    }
  </style>
</head>
<body class="bg-gradient-to-r from-blue-100 to-purple-500 p-4">
  <div class="max-w-lg mx-auto bg-white rounded-lg shadow-md p-8">
    <h1 class="text-3xl mb-8 text-center font-bold text-gray-800">แก้ไข KPI</h1>
    <!-- วนลูปเพื่อแสดง input ด้วยข้อมูล KPI และใช้ Tailwind CSS -->
    <form action="/admin/saveKpi/<%=solutionID %>" class="space-y-4" method="POST">
      <% kpi.forEach(function(item) { %>
        <div class="flex flex-col">
          <label for="<%= item.kpiID %>" class="text-gray-700 mb-2"><%= item.kpiName %></label>
          <input type="text" id="<%= item.kpiID %>" name="<%= item.kpiID %>" value="<%= item.kpiName %>" class="w-full rounded-md border-gray-300 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50 custom-input">
        </div>
      <% }); %>
      <div class="text-center mt-8">
        <input type="submit" value="บันทึกการแก้ไข" class="px-8 py-3 bg-blue-500 text-white rounded-md hover:bg-blue-600 cursor-pointer transition-colors duration-300 ease-in-out">
      </div>
    </form>
  </div>
</body>
</html>
