<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>แก้ไข KPI</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <style>
    /* เพิ่มสไตล์เพื่อปรับแต่งหน้าแบบฟอร์ม */
    .input-wrapper {
      margin-bottom: 1.5rem;
    }

    .radio-wrapper {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    .hidden {
      display: none;
    }
  </style>
</head>

<body class="bg-gray-100 p-4">
  <!-- แทรก Navbar -->
  <%- include('../include/ad-navbar.ejs') %>

    <div class="max-w-lg mx-auto">
      <h1 class="text-3xl mb-4 text-center">แก้ไข KPI</h1>
      <form action="/admin/saveKpi/<%=solutionID %>" class="space-y-4" method="POST" id="kpiForm">
        <% kpi.forEach(function(item) { %>
          <div class="input-wrapper">
            <input type="text" id="<%= item.kpiID %>" name="name<%= item.kpiID %>" value="<%= item.kpiName %>"
              class="w-full rounded-md border-gray-300 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50">
            <div class="radio-wrapper">
              <input id="YesNo_<%= item.kpiID %>" name="type_<%= item.kpiID %>" type="radio" value="0" <%
                if(item.goal==0) { %>checked<% } %> onclick="showGoalInput(this)">
                <label for="YesNo_<%= item.kpiID %>">Yes No</label>
                <input id="Int_<%= item.kpiID %>" name="type_<%= item.kpiID %>" type="radio" value="1" <% if(item.goal>
                0) { %>checked<% } %> onclick="showGoalInput(this)">
                  <label for="Int_<%= item.kpiID %>">Number</label>
            </div>
            <input type="number" name="goal_<%= item.kpiID %>" onchange="checkNum('goal_<%= item.kpiID %>')"
              value="<%= item.goal >= 0 ? item.goal : '' %>" placeholder="กรุณาใส่ค่ามากกว่า 0"
              id="goal_<%= item.kpiID %>"
              class="<%= item.goal > 0 ? '' : 'hidden' %> w-full rounded-md border-gray-300 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50">
            <input placeholder="Unit" type="text" id="<%= item.kpiID %>" name="unit<%= item.kpiID %>"
              value="<%= item.unit %>"
              class="w-full rounded-md border-gray-300 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50">
          </div>
          <% }); %>
            <input type="hidden" name="_csrf" value="<%=csrfToken%>" id="token" />
            <div class="text-center">
              <button type="button" onclick="confirmSave()"
                class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 cursor-pointer">บันทึกการแก้ไข</button>
            </div>
      </form>
      <!-- แทรก Footer -->
      <%- include('../include/ad-footer.ejs') %>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var radios = document.querySelectorAll('input[type="radio"]');
        radios.forEach(function (radio) {
          showGoalInput(radio);
        });
      });

      function showGoalInput(radio) {
        var goalInput = radio.parentNode.querySelector('[id^="goal_"]');
        var kpiID = radio.id.split('_')[1]; // ดึงค่า kpiID จาก ID ของ radio button
        var goalInputID = 'goal_' + kpiID;

        if (radio.value === '1' && radio.checked) {
          goalInput.classList.remove('hidden');
        } else {
          goalInput.classList.add('hidden');
        }
      }

      function checkNum(inputId) {
        var input = document.getElementById(inputId);
        var value = parseFloat(input.value);

        if (value <= 0 || isNaN(value)) {
          alert("กรุณาใส่ค่าที่มากกว่า 0");
          input.value = ''; // Clear the input value
        }
      }


      function confirmSave() {
        Swal.fire({
          title: 'ยืนยันการบันทึก',
          text: 'คุณแน่ใจหรือไม่ว่าต้องการที่จะบันทึกการแก้ไข?',
          icon: 'question',
          showCancelButton: true,
          confirmButtonText: 'ใช่, บันทึก',
          cancelButtonText: 'ยกเลิก'
        }).then((result) => {
          if (result.isConfirmed) {
            document.getElementById("kpiForm").submit();
          }
        });
      }
    </script>
</body>

</html>